CDS.solutions/IATI/Extracts/Base/Workflows/IATICodelistSync-C227FF18-5F88-E911-A97D-000D3A3ACAFD.json
{"properties":{"connectionReferences":{"shared_dynamicscrmonline_1":{"runtimeSource":"invoker","connection":{},"api":{"name":"shared_dynamicscrmonline"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"type":"Request","kind":"PowerApp","inputs":{"schema":{"type":"object","required":[],"properties":{}}}}},"actions":{"Parse_Source_JSON":{"runAfter":{},"type":"ParseJson","inputs":{"content":{"Vocabulary":[{"CodelistType":"Aid Type","CodelistTypeID":453490001,"ApiUrl":"https://raw.githubusercontent.com/IATI/IATI-Codelists-NonEmbedded/master/xml/AidTypeVocabulary.xml"},{"CodelistType":"Budget Identifier","CodelistTypeID":453490013,"ApiUrl":"https://raw.githubusercontent.com/IATI/IATI-Codelists-NonEmbedded/master/xml/BudgetIdentifierVocabulary.xml"},{"CodelistType":"Geographic Location","CodelistTypeID":453490016,"ApiUrl":"https://raw.githubusercontent.com/IATI/IATI-Codelists-NonEmbedded/master/xml/GeographicVocabulary.xml"},{"CodelistType":"Humanitarian Scope","CodelistTypeID":453490019,"ApiUrl":"https://raw.githubusercontent.com/IATI/IATI-Codelists-NonEmbedded/master/xml/HumanitarianScopeVocabulary.xml"},{"CodelistType":"Indicator","CodelistTypeID":453490021,"ApiUrl":"https://raw.githubusercontent.com/IATI/IATI-Codelists-NonEmbedded/master/xml/IndicatorVocabulary.xml"},{"CodelistType":"Policy Marker","CodelistTypeID":453490026,"ApiUrl":"https://raw.githubusercontent.com/IATI/IATI-Codelists-NonEmbedded/master/xml/PolicyMarkerVocabulary.xml"},{"CodelistType":"Region","CodelistTypeID":453490028,"ApiUrl":"https://raw.githubusercontent.com/IATI/IATI-Codelists-NonEmbedded/master/xml/RegionVocabulary.xml"},{"CodelistType":"Result","CodelistTypeID":453490029,"ApiUrl":"https://raw.githubusercontent.com/IATI/IATI-Codelists-NonEmbedded/master/xml/ResultVocabulary.xml"},{"CodelistType":"Sector","CodelistTypeID":453490030,"ApiUrl":"https://raw.githubusercontent.com/IATI/IATI-Codelists-NonEmbedded/master/xml/SectorVocabulary.xml"},{"CodelistType":"Tag","CodelistTypeID":453490031,"ApiUrl":"https://raw.githubusercontent.com/IATI/IATI-Codelists-NonEmbedded/master/xml/TagVocabulary.xml"}],"Codelist":[{"CodelistType":"Activity Scope","CodelistTypeID":453490000,"ApiUrl":"https://raw.githubusercontent.com/IATI/IATI-Codelists-NonEmbedded/master/xml/ActivityScope.xml","HasVocabulary":false},{"CodelistType":"Aid Type","CodelistTypeID":453490001,"ApiUrl":"https://raw.githubusercontent.com/IATI/IATI-Codelists-NonEmbedded/master/xml/AidType.xml","HasVocabulary":true,"VocabularyCode":"1"},{"CodelistType":"Budget Identifier","CodelistTypeID":453490013,"ApiUrl":"https://raw.githubusercontent.com/IATI/IATI-Codelists-NonEmbedded/master/xml/BudgetIdentifier.xml","HasVocabulary":true,"VocabularyCode":"1"},{"CodelistType":"Budget Not Provided","CodelistTypeID":453490003,"ApiUrl":"https://raw.githubusercontent.com/IATI/IATI-Codelists-NonEmbedded/master/xml/BudgetNotProvided.xml","HasVocabulary":false},{"CodelistType":"Collaboration Type","CodelistTypeID":453490004,"ApiUrl":"https://raw.githubusercontent.com/IATI/IATI-Codelists-NonEmbedded/master/xml/CollaborationType.xml","HasVocabulary":false},{"CodelistType":"Condition Type","CodelistTypeID":453490005,"ApiUrl":"https://raw.githubusercontent.com/IATI/IATI-Codelists-NonEmbedded/master/xml/ConditionType.xml","HasVocabulary":false},{"CodelistType":"Contact Type","CodelistTypeID":453490006,"ApiUrl":"https://raw.githubusercontent.com/IATI/IATI-Codelists-NonEmbedded/master/xml/ContactType.xml","HasVocabulary":false},{"CodelistType":"Country","CodelistTypeID":453490007,"ApiUrl":"https://raw.githubusercontent.com/IATI/IATI-Codelists-NonEmbedded/master/xml/Country.xml","HasVocabulary":false},{"CodelistType":"CRS Additional Other Flags","CodelistTypeID":453490002,"ApiUrl":"https://raw.githubusercontent.com/IATI/IATI-Codelists-NonEmbedded/master/xml/CRSAddOtherFlags.xml","HasVocabulary":false},{"CodelistType":"CRS Channel Code","CodelistTypeID":453490008,"ApiUrl":"https://raw.githubusercontent.com/IATI/IATI-Codelists-NonEmbedded/master/xml/CRSChannelCode.xml","HasVocabulary":false},{"CodelistType":"Description Type","CodelistTypeID":453490009,"ApiUrl":"https://raw.githubusercontent.com/IATI/IATI-Codelists-NonEmbedded/master/xml/DescriptionType.xml","HasVocabulary":false},{"CodelistType":"Disbursement Channel","CodelistTypeID":453490010,"ApiUrl":"https://raw.githubusercontent.com/IATI/IATI-Codelists-NonEmbedded/master/xml/DisbursementChannel.xml","HasVocabulary":false},{"CodelistType":"File Format","CodelistTypeID":453490011,"ApiUrl":"https://raw.githubusercontent.com/IATI/IATI-Codelists-NonEmbedded/master/xml/FileFormat.xml","HasVocabulary":false},{"CodelistType":"Finance Type","CodelistTypeID":453490012,"ApiUrl":"https://raw.githubusercontent.com/IATI/IATI-Codelists-NonEmbedded/master/xml/FinanceType.xml","HasVocabulary":false},{"CodelistType":"Flow Type","CodelistTypeID":453490014,"ApiUrl":"https://raw.githubusercontent.com/IATI/IATI-Codelists-NonEmbedded/master/xml/FlowType.xml","HasVocabulary":false},{"CodelistType":"Geographic Exactness","CodelistTypeID":453490015,"ApiUrl":"https://raw.githubusercontent.com/IATI/IATI-Codelists-NonEmbedded/master/xml/GeographicExactness.xml","HasVocabulary":false},{"CodelistType":"Geographic Location Class","CodelistTypeID":453490017,"ApiUrl":"https://raw.githubusercontent.com/IATI/IATI-Codelists-NonEmbedded/master/xml/GeographicLocationClass.xml","HasVocabulary":false},{"CodelistType":"Geographic Location Reach","CodelistTypeID":453490018,"ApiUrl":"https://raw.githubusercontent.com/IATI/IATI-Codelists-NonEmbedded/master/xml/GeographicLocationReach.xml","HasVocabulary":false},{"CodelistType":"Humanitarian Scope Type","CodelistTypeID":453490020,"ApiUrl":"https://raw.githubusercontent.com/IATI/IATI-Codelists-NonEmbedded/master/xml/HumanitarianScopeType.xml","HasVocabulary":false},{"CodelistType":"Indicator Measure","CodelistTypeID":453490034,"ApiUrl":"https://raw.githubusercontent.com/IATI/IATI-Codelists-NonEmbedded/master/xml/IndicatorMeasure.xml","HasVocabulary":false},{"CodelistType":"Language","CodelistTypeID":453490022,"ApiUrl":"https://raw.githubusercontent.com/IATI/IATI-Codelists-NonEmbedded/master/xml/Language.xml","HasVocabulary":false},{"CodelistType":"Loan Repayment Period","CodelistTypeID":453490036,"ApiUrl":"https://raw.githubusercontent.com/IATI/IATI-Codelists-NonEmbedded/master/xml/LoanRepaymentPeriod.xml","HasVocabulary":false},{"CodelistType":"Loan Repayment Type","CodelistTypeID":453490035,"ApiUrl":"https://raw.githubusercontent.com/IATI/IATI-Codelists-NonEmbedded/master/xml/LoanRepaymentType.xml","HasVocabulary":false},{"CodelistType":"Location Type","CodelistTypeID":453490023,"ApiUrl":"https://raw.githubusercontent.com/IATI/IATI-Codelists-NonEmbedded/master/xml/LocationType.xml","HasVocabulary":false},{"CodelistType":"Organization Type","CodelistTypeID":453490024,"ApiUrl":"https://raw.githubusercontent.com/IATI/IATI-Codelists-NonEmbedded/master/xml/OrganisationType.xml","HasVocabulary":false},{"CodelistType":"Other Identifier Type","CodelistTypeID":453490025,"ApiUrl":"https://raw.githubusercontent.com/IATI/IATI-Codelists-NonEmbedded/master/xml/OtherIdentifierType.xml","HasVocabulary":false},{"CodelistType":"Policy Marker","CodelistTypeID":453490026,"ApiUrl":"https://raw.githubusercontent.com/IATI/IATI-Codelists-NonEmbedded/master/xml/PolicyMarker.xml","HasVocabulary":true,"VocabularyCode":"1"},{"CodelistType":"Policy Significance","CodelistTypeID":453490027,"ApiUrl":"https://raw.githubusercontent.com/IATI/IATI-Codelists-NonEmbedded/master/xml/PolicySignificance.xml","HasVocabulary":false},{"CodelistType":"Region","CodelistTypeID":453490028,"ApiUrl":"https://raw.githubusercontent.com/IATI/IATI-Codelists-NonEmbedded/master/xml/Region.xml","HasVocabulary":true,"VocabularyCode":"1"},{"CodelistType":"Result Type","CodelistTypeID":453490033,"ApiUrl":"https://raw.githubusercontent.com/IATI/IATI-Codelists-NonEmbedded/master/xml/ResultType.xml","HasVocabulary":false},{"CodelistType":"Sector","CodelistTypeID":453490030,"ApiUrl":"https://raw.githubusercontent.com/IATI/IATI-Codelists-NonEmbedded/master/xml/Sector.xml","HasVocabulary":true,"VocabularyCode":"1"},{"CodelistType":"Sector","CodelistTypeID":453490030,"ApiUrl":"https://raw.githubusercontent.com/IATI/IATI-Codelists-NonEmbedded/master/xml/SectorCategory.xml","HasVocabulary":true,"VocabularyCode":"2"},{"CodelistType":"Tied Status","CodelistTypeID":453490032,"ApiUrl":"https://raw.githubusercontent.com/IATI/IATI-Codelists-NonEmbedded/master/xml/TiedStatus.xml","HasVocabulary":false}]},"schema":{"type":"object","properties":{"Vocabulary":{"type":"array","items":{"type":"object","properties":{"CodelistType":{"type":"string"},"CodelistTypeID":{"type":"integer"},"ApiUrl":{"type":"string"}},"required":["CodelistType","CodelistTypeID","ApiUrl"]}},"Codelist":{"type":"array","items":{"type":"object","properties":{"CodelistType":{"type":"string"},"CodelistTypeID":{"type":"integer"},"ApiUrl":{"type":"string"},"HasVocabulary":{"type":"boolean"},"VocabularyCode":{"type":"string"}},"required":["CodelistType","CodelistTypeID","ApiUrl","HasVocabulary"]}}}}},"description":"Stores a JSON configuration with a list of vocabularies and codelists that will be synchronized, along with the URL where the data can be retrieved from (in XML format)."},"Apply_to_each_Vocabulary":{"foreach":"@body('Parse_Source_JSON')?['Vocabulary']","actions":{"HTTP_Vocabulary":{"runAfter":{},"type":"Http","inputs":{"method":"GET","uri":"@items('Apply_to_each_Vocabulary')?['ApiUrl']"},"description":"Fetches the current vocabulary XML from the configured URL."},"Compose_Parse_Vocabulary_XML":{"runAfter":{"HTTP_Vocabulary":["Succeeded"]},"type":"Compose","inputs":"@xpath(xml(body('HTTP_Vocabulary')), '/codelist/codelist-items/codelist-item')","description":"Interprets the retrieved XML and gets a list of vocabulary records to sync."},"Apply_to_each_Vocabulary_Record_in_XML":{"foreach":"@outputs('Compose_Parse_Vocabulary_XML')","actions":{"Compose_Vocabulary_Code":{"runAfter":{},"type":"Compose","inputs":"@xpath(item(),'string(codelist-item/code)')","description":"Reads the vocabulary code for the current record of the loop in the XML."},"Compose_Vocabulary_Name":{"runAfter":{"Compose_Vocabulary_Code":["Succeeded"]},"type":"Compose","inputs":"@xpath(item(),'string(codelist-item/name/narrative)')","description":"Reads the vocabulary name for the current record of the loop in the XML."},"Compose_Vocabulary_Description":{"runAfter":{"Compose_Vocabulary_Name":["Succeeded"]},"type":"Compose","inputs":"@xpath(item(),'string(codelist-item/description/narrative)')","description":"Reads the vocabulary description for the current record of the loop in the XML."},"Compose_Vocabulary_URL":{"runAfter":{"Compose_Vocabulary_Description":["Succeeded"]},"type":"Compose","inputs":"@xpath(item(),'string(codelist-item/url)')","description":"Reads the vocabulary URL for the current record of the loop in the XML."},"Compose_Vocabulary_Is_Active":{"runAfter":{"Compose_Vocabulary_URL":["Succeeded"]},"type":"Compose","inputs":"@if(equals(toLower(xpath(item(),'string(codelist-item/@status)')), 'withdrawn'), false, true)","description":"Checks if the record is marked as active or inactive for the current record of the loop in the XML."},"List_records_Get_Vocabulary_Record":{"runAfter":{"Compose_Vocabulary_Is_Active":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_dynamicscrmonline","connectionName":"shared_dynamicscrmonline_1","operationId":"GetItems"},"parameters":{"dataset":"org741fb57a.crm","table":"msiati_nonembeddedcodelistvocabularies","$filter":"msiati_code eq '@{outputs('Compose_Vocabulary_Code')}' and msiati_codelisttype eq @{items('Apply_to_each_Vocabulary')?['CodelistTypeID']}","$top":1},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}},"description":"Tries to fetch the D365 record for the current vocabulary item."},"Condition_Vocabulary_Record_Exists":{"actions":{"Update_Existing_Vocabulary_Record":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_dynamicscrmonline","connectionName":"shared_dynamicscrmonline_1","operationId":"PatchItem"},"parameters":{"dataset":"org741fb57a.crm","table":"msiati_nonembeddedcodelistvocabularies","id":"@first(body('List_records_Get_Vocabulary_Record')?['value'])?['msiati_nonembeddedcodelistvocabularyid']","item/msiati_code":"@{outputs('Compose_Vocabulary_Code')}","item/_msiati_codelisttype_label":"","item/msiati_name":"@{outputs('Compose_Vocabulary_Name')}","item/msiati_description":"@{outputs('Compose_Vocabulary_Description')}","item/_ownerid_type":"","item/statecode":"@if(outputs('Compose_Vocabulary_Is_Active'), 0, 1)","item/_statecode_label":"","item/statuscode":"@if(outputs('Compose_Vocabulary_Is_Active'), 1, 2)","item/_statuscode_label":"","item/msiati_uri":"@{outputs('Compose_Vocabulary_URL')}"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}},"description":"Updates the D365 record with the data read from the XML."}},"runAfter":{"List_records_Get_Vocabulary_Record":["Succeeded"]},"else":{"actions":{"Create_New_Vocabulary_Record":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_dynamicscrmonline","connectionName":"shared_dynamicscrmonline_1","operationId":"PostItem"},"parameters":{"dataset":"org741fb57a.crm","table":"msiati_nonembeddedcodelistvocabularies","item/msiati_code":"@{outputs('Compose_Vocabulary_Code')}","item/msiati_codelisttype":"@items('Apply_to_each_Vocabulary')?['CodelistTypeID']","item/msiati_name":"@{outputs('Compose_Vocabulary_Name')}","item/_msiati_codelisttype_label":"","item/msiati_description":"@{outputs('Compose_Vocabulary_Description')}","item/_ownerid_type":"","item/_statuscode_label":"","item/msiati_uri":"@{outputs('Compose_Vocabulary_URL')}"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}},"description":"Creates a new vocabulary record in D365 with the data read from the XML."},"Condition_Vocabulary_Is_Inactive":{"actions":{"Update_Deactivate_Vocabulary_Record":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_dynamicscrmonline","connectionName":"shared_dynamicscrmonline_1","operationId":"PatchItem"},"parameters":{"dataset":"org741fb57a.crm","table":"msiati_nonembeddedcodelistvocabularies","id":"@outputs('Create_New_Vocabulary_Record')?['body/msiati_nonembeddedcodelistvocabularyid']","item/_msiati_codelisttype_label":"","item/_ownerid_type":"","item/statecode":1,"item/_statecode_label":"","item/statuscode":2,"item/_statuscode_label":""},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}},"description":"Updates the record created in D365 and sets it as inactive."}},"runAfter":{"Create_New_Vocabulary_Record":["Succeeded"]},"expression":{"equals":["@outputs('Compose_Vocabulary_Is_Active')","@false"]},"type":"If","description":"Checks if the vocabulary record is marked as inactive in the fetched XML."}}},"expression":{"greaterOrEquals":["@length(body('List_records_Get_Vocabulary_Record')?['value'])",1]},"type":"If","description":"Checks if the previous step (List records Get Vocabulary Record) found any record in 365."}},"runAfter":{"Compose_Parse_Vocabulary_XML":["Succeeded"]},"type":"Foreach","description":"Loop component that iterates the list of the current vocabulary records to sync.","runtimeConfiguration":{"concurrency":{"repetitions":10}}}},"runAfter":{"Parse_Source_JSON":["Succeeded"]},"type":"Foreach","description":"Loop component that iterates the list of vocabularies to be synced (data from Parse Source JSON component).","runtimeConfiguration":{"concurrency":{"repetitions":10}}},"Apply_to_each_Codelist":{"foreach":"@body('Parse_Source_JSON')?['Codelist']","actions":{"Condition_Codelist_Has_Vocabulary":{"actions":{"List_records_Get_Codelist_Vocabulary_Record":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_dynamicscrmonline","connectionName":"shared_dynamicscrmonline_1","operationId":"GetItems"},"parameters":{"dataset":"org741fb57a.crm","table":"msiati_nonembeddedcodelistvocabularies","$filter":"msiati_code eq '@{items('Apply_to_each_Codelist')?['VocabularyCode']}' and msiati_codelisttype eq @{items('Apply_to_each_Codelist')?['CodelistTypeID']}","$top":1},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}},"description":"Fetches the codelist's vocabulary ID from D365."},"Compose_VocabularyId":{"runAfter":{"List_records_Get_Codelist_Vocabulary_Record":["Succeeded"]},"type":"Compose","inputs":"@first(body('List_records_Get_Codelist_Vocabulary_Record')?['value'])?['msiati_nonembeddedcodelistvocabularyid']","description":"Gets the D365 Vocabulary ID from the previous step (List records Get Codelist Vocabulary Record)."}},"runAfter":{},"expression":{"equals":["@items('Apply_to_each_Codelist')?['HasVocabulary']","@true"]},"type":"If","description":"Checks if the codelist has a vocabulary."},"HTTP_Codelist":{"runAfter":{"Condition_Codelist_Has_Vocabulary":["Succeeded"]},"type":"Http","inputs":{"method":"GET","uri":"@items('Apply_to_each_Codelist')?['ApiUrl']"},"description":"Fetches the current codelist XML from the configured URL."},"Compose_Codelist_XML":{"runAfter":{"HTTP_Codelist":["Succeeded"]},"type":"Compose","inputs":"@xpath(xml(body('HTTP_Codelist')), '/codelist/codelist-items/codelist-item')","description":"Interprets the retrieved XML and gets a list of codelist records to sync."},"Apply_to_each_Codelist_Record_in_XML":{"foreach":"@outputs('Compose_Codelist_XML')","actions":{"Compose_Codelist_Code":{"runAfter":{},"type":"Compose","inputs":"@xpath(item(),'string(codelist-item/code)')","description":"Reads the codelist code for the current record of the loop in the XML."},"Compose_Codelist_Name":{"runAfter":{"Compose_Codelist_Code":["Succeeded"]},"type":"Compose","inputs":"@if(equals(xpath(item(),'string(codelist-item/name/narrative)'), ''), outputs('Compose_Codelist_Code'), xpath(item(),'string(codelist-item/name/narrative)'))","description":" Reads the codelist name for the current record of the loop in the XML."},"Compose_Codelist_Description":{"runAfter":{"Compose_Codelist_Name":["Succeeded"]},"type":"Compose","inputs":"@xpath(item(),'string(codelist-item/description/narrative)')","description":"Reads the codelist description for the current record of the loop in the XML."},"Compose_Codelist_Category":{"runAfter":{"Compose_Codelist_Description":["Succeeded"]},"type":"Compose","inputs":"@xpath(item(),'string(codelist-item/category)')","description":"Reads the codelist category for the current record of the loop in the XML."},"Compose_Codelist_Is_Active":{"runAfter":{"Compose_Codelist_Category":["Succeeded"]},"type":"Compose","inputs":"@if(equals(toLower(xpath(item(),'string(codelist-item/@status)')), 'withdrawn'), false, true)","description":"Checks if the record is marked as active or inactive for the current record of the loop in the XML."},"List_records_Get_Codelist_Record":{"runAfter":{"Compose_Codelist_Is_Active":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_dynamicscrmonline","connectionName":"shared_dynamicscrmonline_1","operationId":"GetItems"},"parameters":{"dataset":"org741fb57a.crm","table":"msiati_nonembeddedcodelists","$filter":"msiati_codelisttype eq @{items('Apply_to_each_Codelist')?['CodelistTypeID']} and msiati_code eq '@{outputs('Compose_Codelist_Code')}' and @{if(equals(items('Apply_to_each_Codelist')?['HasVocabulary'], false), '_msiati_nonembeddedcodelistvocabularyid_value eq null', concat('(_msiati_nonembeddedcodelistvocabularyid_value eq null or _msiati_nonembeddedcodelistvocabularyid_value eq ''', outputs('Compose_VocabularyId'), ''')'))}","$top":1},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}},"description":"Tries to fetch the D365 record for the current codelist item."},"Condition_Codelist_Record_Exists":{"actions":{"Condition_Codelist_has_Vocabulary_(Update)":{"actions":{"Update_Existing_Codelist_Record_(With_Vocabulary)":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_dynamicscrmonline","connectionName":"shared_dynamicscrmonline_1","operationId":"PatchItem"},"parameters":{"dataset":"org741fb57a.crm","table":"msiati_nonembeddedcodelists","id":"@first(body('List_records_Get_Codelist_Record')?['value'])?['msiati_nonembeddedcodelistid']","item/_msiati_codelisttype_label":"","item/msiati_name":"@{outputs('Compose_Codelist_Name')}","item/msiati_category":"@{outputs('Compose_Codelist_Category')}","item/msiati_description":"@{outputs('Compose_Codelist_Description')}","item/_ownerid_type":"","item/statecode":"@if(outputs('Compose_Codelist_Is_Active'), 0, 1)","item/_statecode_label":"","item/statuscode":"@if(outputs('Compose_Codelist_Is_Active'), 1, 2)","item/_statuscode_label":"","item/_msiati_nonembeddedcodelistvocabularyid_value":"@{outputs('Compose_VocabularyId')}"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}},"description":"Updates the D365 record with the data read from the XML."}},"runAfter":{},"else":{"actions":{"Update_Existing_Codelist_Record_(No_Vocabulary)":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_dynamicscrmonline","connectionName":"shared_dynamicscrmonline_1","operationId":"PatchItem"},"parameters":{"dataset":"org741fb57a.crm","table":"msiati_nonembeddedcodelists","id":"@first(body('List_records_Get_Codelist_Record')?['value'])?['msiati_nonembeddedcodelistid']","item/_msiati_codelisttype_label":"","item/msiati_name":"@{outputs('Compose_Codelist_Name')}","item/msiati_category":"@{outputs('Compose_Codelist_Category')}","item/msiati_description":"@{outputs('Compose_Codelist_Description')}","item/_ownerid_type":"","item/statecode":"@if(outputs('Compose_Codelist_Is_Active'), 0, 1)","item/_statecode_label":"","item/statuscode":"@if(outputs('Compose_Codelist_Is_Active'), 1, 2)","item/_statuscode_label":""},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}},"description":"Updates the D365 record with the data read from the XML."}}},"expression":{"equals":["@items('Apply_to_each_Codelist')?['HasVocabulary']","@true"]},"type":"If","description":"Checks if the codelist has a vocabulary."}},"runAfter":{"List_records_Get_Codelist_Record":["Succeeded"]},"else":{"actions":{"Condition_Codelist_Is_Inactive":{"actions":{"Update_Deactivate_Codelist_Record":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_dynamicscrmonline","connectionName":"shared_dynamicscrmonline_1","operationId":"PatchItem"},"parameters":{"dataset":"org741fb57a.crm","table":"msiati_nonembeddedcodelists","id":"@coalesce(outputs('Create_New_Codelist_Record_(With_Vocabulary)')?['body/msiati_nonembeddedcodelistid'], outputs('Create_New_Codelist_Record_(No_Vocabulary)')?['body/msiati_nonembeddedcodelistid'])","item/_msiati_codelisttype_label":"","item/_ownerid_type":"","item/statecode":1,"item/_statecode_label":"","item/statuscode":2,"item/_statuscode_label":""},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}},"description":"Updates the record created in D365 and sets it as inactive."}},"runAfter":{"Condition_Codelist_Has_Vocabulary_(Create)":["Succeeded"]},"expression":{"equals":["@outputs('Compose_Codelist_Is_Active')","@false"]},"type":"If","description":"Checks if the codelist record is marked as inactive in the fetched XML."},"Condition_Codelist_Has_Vocabulary_(Create)":{"actions":{"Create_New_Codelist_Record_(With_Vocabulary)":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_dynamicscrmonline","connectionName":"shared_dynamicscrmonline_1","operationId":"PostItem"},"parameters":{"dataset":"org741fb57a.crm","table":"msiati_nonembeddedcodelists","item/msiati_code":"@{outputs('Compose_Codelist_Code')}","item/msiati_codelisttype":"@items('Apply_to_each_Codelist')?['CodelistTypeID']","item/msiati_name":"@{outputs('Compose_Codelist_Name')}","item/_msiati_codelisttype_label":"","item/msiati_category":"@{outputs('Compose_Codelist_Category')}","item/msiati_description":"@{outputs('Compose_Codelist_Description')}","item/_ownerid_type":"","item/_statuscode_label":"","item/_msiati_nonembeddedcodelistvocabularyid_value":"@{if(empty(outputs('Compose_VocabularyId')), null, outputs('Compose_VocabularyId'))}"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}},"description":"Creates a new codelist record in D365 with the data read from the XML."}},"runAfter":{},"else":{"actions":{"Create_New_Codelist_Record_(No_Vocabulary)":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_dynamicscrmonline","connectionName":"shared_dynamicscrmonline_1","operationId":"PostItem"},"parameters":{"dataset":"org741fb57a.crm","table":"msiati_nonembeddedcodelists","item/msiati_code":"@{outputs('Compose_Codelist_Code')}","item/msiati_codelisttype":"@items('Apply_to_each_Codelist')?['CodelistTypeID']","item/msiati_name":"@{outputs('Compose_Codelist_Name')}","item/_msiati_codelisttype_label":"","item/msiati_category":"@{outputs('Compose_Codelist_Category')}","item/msiati_description":"@{outputs('Compose_Codelist_Description')}","item/_ownerid_type":"","item/_statuscode_label":""},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}},"description":"Creates a new codelist record in D365 with the data read from the XML."}}},"expression":{"equals":["@items('Apply_to_each_Codelist')?['HasVocabulary']","@true"]},"type":"If","description":"Checks if the codelist has a vocabulary."}}},"expression":{"greaterOrEquals":["@length(body('List_records_Get_Codelist_Record')?['value'])",1]},"type":"If","description":"Checks if the previous step (List records Get Codelist Record) found any record in 365."}},"runAfter":{"Compose_Codelist_XML":["Succeeded"]},"type":"Foreach","runtimeConfiguration":{"concurrency":{"repetitions":10}}}},"runAfter":{"Apply_to_each_Vocabulary":["Succeeded"]},"type":"Foreach","description":"Loop component that iterates the list of codelists to be synced (data from Parse Source JSON component).","runtimeConfiguration":{"concurrency":{"repetitions":10}}}},"outputs":{}}},"schemaVersion":"1.0.0.0"}