CDS.solutions/Measurement/Extracts/Base/Workflows/msnfp_CreateSummaryDocumentInSharePoint-4E2A3B22-46F0-E911-A985-000D3A59724F.json
{"properties":{"connectionReferences":{"shared_commondataservice":{"runtimeSource":"invoker","connection":{},"api":{"name":"shared_commondataservice"}},"shared_wordonlinebusiness":{"runtimeSource":"invoker","connection":{},"api":{"name":"shared_wordonlinebusiness"}},"shared_sharepointonline":{"runtimeSource":"invoker","connection":{},"api":{"name":"shared_sharepointonline"}},"shared_office365":{"runtimeSource":"invoker","connection":{},"api":{"name":"shared_office365"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"type":"Request","kind":"PowerApp","inputs":{"schema":{"type":"object","properties":{"Listrecords_FilterQuery":{"type":"string"},"PopulateaMicrosoftWordtemplate_Reviewer":{"type":"string","description":"Click or tap here to enter text.","x-ms-powerflows-param-ispartial":false},"PopulateaMicrosoftWordtemplate_Region":{"type":"string","description":"Click or tap here to enter text.","x-ms-powerflows-param-ispartial":false},"PopulateaMicrosoftWordtemplate_Title":{"type":"string","description":"Click or tap here to enter text.","x-ms-powerflows-param-ispartial":false},"PopulateaMicrosoftWordtemplate_Country":{"type":"string","description":"Click or tap here to enter text.","x-ms-powerflows-param-ispartial":false},"PopulateaMicrosoftWordtemplate_DueDate":{"type":"string","description":"Click or tap here to enter text.","x-ms-powerflows-param-ispartial":false},"PopulateaMicrosoftWordtemplate_Description":{"type":"string","description":"Click or tap here to enter text.","x-ms-powerflows-param-ispartial":false},"Sendanemail(V2)_To":{"type":"string","format":"email","description":"Specify email addresses separated by semicolons like someone@contoso.com. This parameter is used as part of \"A93CD36D-8EB7-4E52-92AF-5654AC801E42\"","x-ms-powerflows-param-ispartial":true},"Sendanemail(V2)_Subject":{"type":"string","description":"Specify the subject of the mail","x-ms-powerflows-param-ispartial":false}},"required":["Listrecords_FilterQuery","PopulateaMicrosoftWordtemplate_Reviewer","PopulateaMicrosoftWordtemplate_Region","PopulateaMicrosoftWordtemplate_Title","PopulateaMicrosoftWordtemplate_Country","PopulateaMicrosoftWordtemplate_DueDate","PopulateaMicrosoftWordtemplate_Description","Sendanemail(V2)_To","Sendanemail(V2)_Subject"]}}}},"actions":{"Initialize_variable":{"runAfter":{},"type":"InitializeVariable","inputs":{"variables":[{"name":"Outline","type":"Array"}]}},"Initialize_variable_2":{"runAfter":{"Initialize_variable":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"Var_newline_dash","type":"String","value":"\n -- "}]}},"List_Results":{"runAfter":{"Initialize_variable_2":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataservice","connectionName":"shared_commondataservice","operationId":"GetItems_V2"},"parameters":{"dataset":"default.cds","table":"msnfp_results","$filter":"_msnfp_deliveryframeworkid_value eq @{triggerBody()['Listrecords_FilterQuery']}"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"ResultsLoop":{"foreach":"@outputs('List_Results')?['body/value']","actions":{"Append_to_array_variable":{"runAfter":{},"type":"AppendToArrayVariable","inputs":{"name":"Outline","value":"@concat(items('ResultsLoop')['msnfp_name'], ' ')"}},"ListIndicators":{"runAfter":{"Append_to_array_variable":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataservice","connectionName":"shared_commondataservice","operationId":"GetItems_V2"},"parameters":{"dataset":"default.cds","table":"msnfp_indicators","$filter":"@concat('_msnfp_resultid_value eq ', Items('ResultsLoop')['msnfp_resultid'])"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"IndicatorsLoop":{"foreach":"@outputs('ListIndicators')?['body/value']","actions":{"Append_to_array_variable_2":{"runAfter":{},"type":"AppendToArrayVariable","inputs":{"name":"Outline","value":"@concat(' ',variables('Var_newline_dash'),' ', items('IndicatorsLoop')['msnfp_name'])"}}},"runAfter":{"ListIndicators":["Succeeded"]},"type":"Foreach"}},"runAfter":{"List_Results":["Succeeded"]},"type":"Foreach"},"Select":{"runAfter":{"ResultsLoop":["Succeeded"]},"type":"Select","inputs":{"from":"@variables('Outline')","select":{"Repeating_Data":"@item()"}}},"Populate_a_Microsoft_Word_template":{"runAfter":{"Select":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_wordonlinebusiness","connectionName":"shared_wordonlinebusiness","operationId":"CreateFileItem"},"parameters":{"source":"sites/thresholdworld3.sharepoint.com,e1299d0b-347d-4f10-9e76-401d90177e45,e48e8356-839d-40a4-b1b9-160c4540c2fe","drive":"b!C50p4X00EE-edkAdkBd-RVaDjuSdg6RAsbkWDEVAwv6xKYEunMRlRZ-Ozi-mNdLT","file":"MEL Template App/Template5.docx","dynamicFileSchema/344604243":"@body('Select')","dynamicFileSchema/1126897924":"@triggerBody()['PopulateaMicrosoftWordtemplate_Reviewer']","dynamicFileSchema/1642619370":"@triggerBody()['PopulateaMicrosoftWordtemplate_Region']","dynamicFileSchema/-1605098208":"@triggerBody()['PopulateaMicrosoftWordtemplate_Title']","dynamicFileSchema/-391886844":"@triggerBody()['PopulateaMicrosoftWordtemplate_Country']","dynamicFileSchema/-2027080720":"@triggerBody()['PopulateaMicrosoftWordtemplate_DueDate']","dynamicFileSchema/-1678638035":"@triggerBody()['PopulateaMicrosoftWordtemplate_Description']"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Compose_Current_Time":{"runAfter":{"Populate_a_Microsoft_Word_template":["Succeeded"]},"type":"Compose","inputs":"@formatDateTime(utcNow(),'yyyy-MM-dd_hh_mm')"},"Create_file":{"runAfter":{"Compose_Current_Time":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"CreateFile"},"parameters":{"dataset":"https://thresholdworld3.sharepoint.com/sites/NonprofitAccelerator","folderPath":"/Shared Documents/MEL Template App/MEL Logframes/","name":"@concat('Logframe-', triggerBody()['Listrecords_FilterQuery'],'_',outputs('Compose_Current_Time'),'.docx')","body":"@outputs('Populate_a_Microsoft_Word_template')?['body']"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Send_an_email_(V2)":{"runAfter":{"Create_file":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"SendEmailV2"},"parameters":{"emailMessage/To":"@{triggerBody()['Sendanemail(V2)_To']};","emailMessage/Subject":"@triggerBody()['Sendanemail(V2)_Subject']","emailMessage/Body":"<p>You may review your logframe using this link: <a href=\"https://thresholdworld3.sharepoint.com/sites/NonprofitAccelerator/@{body('Create_file')?['Path']}\">Logframe</a>.</p>"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}}},"outputs":{}}},"schemaVersion":"1.0.0.0"}