samples/NonprofitOperationsToolkitFlows/Workflows/CostCenterBudgetLine-createBudgetPeriodsfornewline-F7B3461B-F599-E911-A828-000D3A1D5A0B.json
{"properties":{"connectionReferences":{"shared_commondataserviceforapps_1":{"impersonation":{},"runtimeSource":"embedded","connection":{},"api":{"name":"shared_commondataserviceforapps"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"When_a_record_is_created,_updated_or_deleted":{"type":"OpenApiConnectionWebhook","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps","connectionName":"shared_commondataserviceforapps_1","operationId":"SubscribeWebhookTrigger"},"parameters":{"subscriptionRequest/message":1,"subscriptionRequest/entityname":"msnfpe_costcenterbudgetline","subscriptionRequest/scope":4,"subscriptionRequest/name":"f7b3461b-f599-e911-a828-000d3a1d5a0b"},"authentication":"@parameters('$authentication')"}}},"actions":{"Get_Cost_Center_Budget_info":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps","connectionName":"shared_commondataserviceforapps_1","operationId":"GetItem"},"parameters":{"entityName":"msnfpe_costcenterbudgets","recordId":"@triggerOutputs()?['body/_msnfpe_costcenterbudgetid_value']","$select":"statuscode, _transactioncurrencyid_value","$expand":"msnfpe_StartingPeriodId($select=msnfpe_planningperiodid,msnfpe_period_startdate,_msnfpe_nextperiodid_value), msnfpe_EndingPeriodId($select=msnfpe_planningperiodid,msnfpe_period_startdate)"},"authentication":"@parameters('$authentication')"}},"Parse_Budget_info":{"runAfter":{"Get_Cost_Center_Budget_info":["Succeeded"]},"type":"ParseJson","inputs":{"content":"@outputs('Get_Cost_Center_Budget_info')?['body']","schema":{"type":"object","properties":{"statuscode":{"type":"integer"},"msnfpe_costcenterbudgetid":{"type":"string"},"msnfpe_StartingPeriodId":{"type":"object","properties":{"msnfpe_planningperiodid":{"type":"string"},"msnfpe_period_startdate":{"type":"string"},"_msnfpe_nextperiodid_value":{"type":"string"}}},"msnfpe_EndingPeriodId":{"type":"object","properties":{"msnfpe_planningperiodid":{"type":"string"},"msnfpe_period_startdate":{"type":"string"}}},"_transactioncurrencyid_value":{"type":"string"}}}}},"Initialize_empty_PeriodCollection":{"runAfter":{"Parse_Budget_info":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"PeriodCollection","type":"Array"}]}},"Initialize_NextPeriodToAdd":{"runAfter":{"Initialize_empty_PeriodCollection":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"NextPeriodToAdd","type":"String","value":"@body('Parse_Budget_info')?['msnfpe_StartingPeriodId']?['msnfpe_planningperiodid']"}]}},"Initialize_empty_FirstBudgetLinePeriod":{"runAfter":{"Initialize_NextPeriodToAdd":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"FirstBudgetLinePeriod","type":"String"}]},"description":"Holds the ID of the first budget line period created for amount adjustment if needed"},"Initialize_empty_PeriodAmount":{"runAfter":{"Initialize_empty_FirstBudgetLinePeriod":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"PeriodAmount","type":"Float"}]}},"Initialize_empty_PeriodAmountTotalDifference":{"runAfter":{"Initialize_empty_PeriodAmount":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"PeriodAmountTotalDifference","type":"Float"}]}},"Check_to_see_if_Start_and_End_Periods_are_different":{"actions":{},"runAfter":{"Initialize_empty_PeriodAmountTotalDifference":["Succeeded"]},"else":{"actions":{"Add_Periods_to_Collection_until_Ending_Period":{"actions":{"Append_NextPlanningPeriod_to_PeriodCollection":{"runAfter":{},"type":"AppendToArrayVariable","inputs":{"name":"PeriodCollection","value":"@variables('NextPeriodToAdd')"}},"Get_updated_NextPeriodToAdd_info":{"runAfter":{"Append_NextPlanningPeriod_to_PeriodCollection":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps","connectionName":"shared_commondataserviceforapps_1","operationId":"GetItem"},"parameters":{"entityName":"msnfpe_planningperiods","recordId":"@variables('NextPeriodToAdd')","$select":"_msnfpe_nextperiodid_value"},"authentication":"@parameters('$authentication')"}},"Parse_NextPeriodToAdd_info":{"runAfter":{"Get_updated_NextPeriodToAdd_info":["Succeeded"]},"type":"ParseJson","inputs":{"content":"@outputs('Get_updated_NextPeriodToAdd_info')?['body']","schema":{"type":"object","properties":{"_msnfpe_nextperiodid_value":{"type":"string"}}}}},"Set_NextPeriodToAdd":{"runAfter":{"Parse_NextPeriodToAdd_info":["Succeeded"]},"type":"SetVariable","inputs":{"name":"NextPeriodToAdd","value":"@body('Parse_NextPeriodToAdd_info')?['_msnfpe_nextperiodid_value']"}}},"runAfter":{},"expression":"@equals(variables('NextPeriodToAdd'), body('Parse_Budget_info')?['msnfpe_EndingPeriodId']?['msnfpe_planningperiodid'])","limit":{"count":60,"timeout":"PT1H"},"type":"Until"}}},"expression":{"equals":["@variables('NextPeriodToAdd')","@body('Parse_Budget_info')?['msnfpe_EndingPeriodId']?['msnfpe_planningperiodid']"]},"type":"If"},"Append_EndingPeriod_to_PeriodCollection":{"runAfter":{"Check_to_see_if_Start_and_End_Periods_are_different":["Succeeded"]},"type":"AppendToArrayVariable","inputs":{"name":"PeriodCollection","value":"@body('Parse_Budget_info')?['msnfpe_EndingPeriodId']?['msnfpe_planningperiodid']"}},"Set_PeriodAmount":{"runAfter":{"Append_EndingPeriod_to_PeriodCollection":["Succeeded"]},"type":"SetVariable","inputs":{"name":"PeriodAmount","value":"@div(add(mul(div(triggerOutputs()?['body/msnfpe_budgetline_amount'],length(variables('PeriodCollection'))),1000),sub(if(greaterOrEquals(mod(mul(div(triggerOutputs()?['body/msnfpe_budgetline_amount'],length(variables('PeriodCollection'))),1000),10),5),10,0),mod(mul(div(triggerOutputs()?['body/msnfpe_budgetline_amount'],length(variables('PeriodCollection'))),1000),10))),1000)"},"description":"Complicated formula to get to a number with two decimals"},"For_each_in_PeriodCollection":{"foreach":"@variables('PeriodCollection')","actions":{"Compose_CostCenterBudgetLineId":{"runAfter":{},"type":"Compose","inputs":"@triggerOutputs()?['body/msnfpe_costcenterbudgetlineid']"},"If_FirstBudgetLinePeriod_is_empty":{"actions":{"Set_to_first_value":{"runAfter":{},"type":"SetVariable","inputs":{"name":"FirstBudgetLinePeriod","value":"@outputs('Create_a_new_Budget_Line_Period')?['body/msnfpe_budgetlineperiodid']"}}},"runAfter":{"Create_a_new_Budget_Line_Period":["Succeeded"]},"expression":{"equals":["@variables('FirstBudgetLinePeriod')","@string('')"]},"type":"If"},"Create_a_new_Budget_Line_Period":{"runAfter":{"Compose_CostCenterBudgetLineId":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps","connectionName":"shared_commondataserviceforapps_1","operationId":"CreateRecord"},"parameters":{"entityName":"msnfpe_budgetlineperiods","item/msnfpe_periodname":"Planned Amount","item/msnfpe_amount":"@float(variables('PeriodAmount'))","item/msnfpe_PlanningPeriodId@odata.bind":"/msnfpe_planningperiods(@{items('For_each_in_PeriodCollection')})","item/msnfpe_CostCenterBudgetLineId@odata.bind":"/msnfpe_costcenterbudgetlines(@{outputs('Compose_CostCenterBudgetLineId')})","item/transactioncurrencyid@odata.bind":"/transactioncurrencies(@{body('Parse_Budget_info')?['_transactioncurrencyid_value']})"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Set_PeriodAmount":["Succeeded"]},"type":"Foreach"},"Set_PeriodAmountTotalDifference":{"runAfter":{"For_each_in_PeriodCollection":["Succeeded"]},"type":"SetVariable","inputs":{"name":"PeriodAmountTotalDifference","value":"@sub(triggerOutputs()?['body/msnfpe_budgetline_amount'], mul(variables('PeriodAmount'),length(variables('PeriodCollection'))))"},"description":"Get the difference between the total line amount and the total of what was distributed among periods"},"Check_if_Summed_Periods_less_than_Budget_Line_Amount":{"actions":{"Update_first_BudgetLinePeriod_Amount":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps","connectionName":"shared_commondataserviceforapps_1","operationId":"UpdateRecord"},"parameters":{"entityName":"msnfpe_budgetlineperiods","recordId":"@variables('FirstBudgetLinePeriod')","item/msnfpe_amount":"@add(float(variables('PeriodAmount')),variables('PeriodAmountTotalDifference'))"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Set_PeriodAmountTotalDifference":["Succeeded"]},"expression":{"and":[{"not":{"equals":["@variables('PeriodAmountTotalDifference')",0]}},{"not":{"equals":["@variables('FirstBudgetLinePeriod')","@string('')"]}}]},"type":"If"}},"outputs":{}}},"schemaVersion":"1.0.0.0"}