samples/NonprofitOperationsToolkitFlows/Workflows/CostCenterBudget-updateBudgetLineswhenStatusReason-C13EE13E-A5B0-E911-A991-000D3A1378F6.json
{"properties":{"connectionReferences":{"shared_commondataserviceforapps":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_commondataserviceforapps"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"When_Cost_Center_Budget_Status_Reason_changes":{"type":"OpenApiConnectionWebhook","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"SubscribeWebhookTrigger","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"subscriptionRequest/message":3,"subscriptionRequest/entityname":"msnfpe_costcenterbudget","subscriptionRequest/scope":4,"subscriptionRequest/filteringattributes":"statuscode"},"authentication":"@parameters('$authentication')"}}},"actions":{"List_Cost_Center_Budge_Lines":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"msnfpe_costcenterbudgetlines","$select":"msnfpe_costcenterbudgetlineid","$filter":"_msnfpe_costcenterbudgetid_value eq @{triggerOutputs()?['body/msnfpe_costcenterbudgetid']}"},"authentication":"@parameters('$authentication')"}},"Check_if_Status_was_changed_to_Disregarded_or_Superseded":{"actions":{"Deactivate_each_Budget_Line":{"foreach":"@outputs('List_Cost_Center_Budge_Lines')?['body/value']","actions":{"Update_Budget_lines_to_Inactive":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"msnfpe_costcenterbudgetlines","recordId":"@items('Deactivate_each_Budget_Line')?['msnfpe_costcenterbudgetlineid']","item/statecode":1,"item/statuscode":2},"authentication":"@parameters('$authentication')"}}},"runAfter":{},"type":"Foreach"}},"runAfter":{"List_Cost_Center_Budge_Lines":["Succeeded"]},"else":{"actions":{"Check_if_Draft":{"actions":{"Activate_each_Budget_Line":{"foreach":"@outputs('List_Cost_Center_Budge_Lines')?['body/value']","actions":{"Update_Budget_Lines_to_Active":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"msnfpe_costcenterbudgetlines","recordId":"@items('Activate_each_Budget_Line')?['msnfpe_costcenterbudgetlineid']","item/statecode":0,"item/statuscode":1},"authentication":"@parameters('$authentication')"}}},"runAfter":{},"type":"Foreach"}},"runAfter":{},"expression":{"equals":["@triggerOutputs()?['body/statuscode']",1]},"type":"If"}}},"expression":{"or":[{"equals":["@triggerOutputs()?['body/statuscode']",2]},{"equals":["@triggerOutputs()?['body/statuscode']",796500001]}]},"type":"If","description":"These two statuses result in the same updates to budget lines"}},"outputs":{}}},"schemaVersion":"1.0.0.0"}