samples/NonprofitOperationsToolkitFlows/Workflows/DeliveryFramework-updaterelevantrecordvalues-6E6199C7-33DB-E911-A822-000D3A3B1BF4.json
{"properties":{"connectionReferences":{"shared_commondataserviceforapps":{"impersonation":{},"runtimeSource":"embedded","connection":{},"api":{"name":"shared_commondataserviceforapps"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"Recurrence":{"recurrence":{"frequency":"Day","interval":1},"type":"Recurrence"}},"actions":{"List_Active_Delivery_Framework_records":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps","connectionName":"shared_commondataserviceforapps","operationId":"ListRecords"},"parameters":{"entityName":"msnfp_deliveryframeworks","$select":"msnfp_deliveryframeworkid, msnfp_deliveryframeworktype, _msnfpe_projectid_value, _msnfpe_projectactivityid_value","$filter":"statecode eq 0"},"authentication":"@parameters('$authentication')"}},"For_each_Delivery_Framework":{"foreach":"@outputs('List_Active_Delivery_Framework_records')?['body/value']","actions":{"Are_the_Project_and_Project_Activity_fields_both_null":{"actions":{"Update_Delivery_Framework_to_inactive":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps","connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord"},"parameters":{"entityName":"msnfp_deliveryframeworks","recordId":"@items('For_each_Delivery_Framework')?['msnfp_deliveryframeworkid']","item/statecode":1,"item/msnfp_status":844060005,"item/statuscode":2},"authentication":"@parameters('$authentication')"}}},"runAfter":{},"else":{"actions":{"Is_the_Delivery_Framework_is_an_Activity":{"actions":{"Is_the_Project_Activity_relationship_null":{"actions":{},"runAfter":{},"else":{"actions":{"Get_associated_Project_Activity_record":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps","connectionName":"shared_commondataserviceforapps","operationId":"GetItem"},"parameters":{"entityName":"msnfpe_projectactivities","recordId":"@items('For_each_Delivery_Framework')?['_msnfpe_projectactivityid_value']","$select":"statecode, statuscode, msnfpe_activityname, msnfpe_startdate, msnfpe_enddate"},"authentication":"@parameters('$authentication')"},"description":"Getting statuscode, but not yet implementing mapping to Delivery Framework status"},"Update_Delivery_Framework_values_from_Project_Activity":{"runAfter":{"Get_associated_Project_Activity_record":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps","connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord"},"parameters":{"entityName":"msnfp_deliveryframeworks","recordId":"@items('For_each_Delivery_Framework')?['msnfp_deliveryframeworkid']","item/msnfp_name":"@outputs('Get_associated_Project_Activity_record')?['body/msnfpe_activityname']","item/msnfp_enddate":"@outputs('Get_associated_Project_Activity_record')?['body/msnfpe_enddate']","item/msnfp_startdate":"@outputs('Get_associated_Project_Activity_record')?['body/msnfpe_startdate']"},"authentication":"@parameters('$authentication')"}}}},"expression":{"equals":["@items('For_each_Delivery_Framework')?['_msnfpe_projectactivityid_value']","@null"]},"type":"If"}},"runAfter":{},"else":{"actions":{"Is_the_Delivery_Framework_is_a_Project":{"actions":{"Is_the_Project_record_relationship_null":{"actions":{},"runAfter":{},"else":{"actions":{"Get_associated_Project_record":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps","connectionName":"shared_commondataserviceforapps","operationId":"GetItem"},"parameters":{"entityName":"msnfpe_projects","recordId":"@items('For_each_Delivery_Framework')?['_msnfpe_projectid_value']","$select":"statecode, statuscode, msnfpe_projectname, msnfpe_startdate, msnfpe_enddate","$expand":"msnfpe_msnfp_AwardId($select=_msnfp_fiscalsponsorid_value)"},"authentication":"@parameters('$authentication')"},"description":"Getting statuscode and accountid, but not yet implementing mapping to Delivery Framework status or providing to Account field"},"Parse_Project_info":{"runAfter":{"Get_associated_Project_record":["Succeeded"]},"type":"ParseJson","inputs":{"content":"@outputs('Get_associated_Project_record')?['body']","schema":{"type":"object","properties":{"statecode":{"type":"integer"},"statuscode":{"type":"integer"},"msnfpe_projectname":{"type":"string"},"msnfpe_startdate":{"type":"string"},"msnfpe_enddate":{"type":"string"},"msnfpe_msnfp_AwardId":{"type":"object","properties":{"_msnfp_fiscalsponsorid_value":{"type":"string"}}}}}}},"Update_Delivery_Framework_values_from_Project":{"runAfter":{"Parse_Project_info":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps","connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord"},"parameters":{"entityName":"msnfp_deliveryframeworks","recordId":"@items('For_each_Delivery_Framework')?['msnfp_deliveryframeworkid']","item/msnfp_name":"@body('Parse_Project_info')?['msnfpe_projectname']","item/msnfp_enddate":"@body('Parse_Project_info')?['msnfpe_enddate']","item/msnfp_startdate":"@body('Parse_Project_info')?['msnfpe_startdate']"},"authentication":"@parameters('$authentication')"}}}},"expression":{"equals":["@items('For_each_Delivery_Framework')?['_msnfpe_projectid_value']","@null"]},"type":"If"}},"runAfter":{},"expression":{"equals":["@items('For_each_Delivery_Framework')?['msnfp_deliveryframeworktype']",844060001]},"type":"If"}}},"expression":{"equals":["@items('For_each_Delivery_Framework')?['msnfp_deliveryframeworktype']",844060002]},"type":"If"}}},"expression":{"and":[{"equals":["@items('For_each_Delivery_Framework')?['_msnfpe_projectid_value']","@null"]},{"equals":["@items('For_each_Delivery_Framework')?['_msnfpe_projectactivityid_value']","@null"]}]},"type":"If","description":"If both fields are null, then the corresponding record was likely deleted"}},"runAfter":{"List_Active_Delivery_Framework_records":["Succeeded"]},"type":"Foreach"}},"outputs":{}}},"schemaVersion":"1.0.0.0"}