samples/NonprofitOperationsToolkitFlows/Workflows/PlanningPeriod-calculateWeekdays-2071E916-D199-E911-A828-000D3A1D5A0B.json
{"properties":{"connectionReferences":{"shared_commondataserviceforapps_1":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"new_sharedcommondataserviceforapps_ea70f"},"api":{"name":"shared_commondataserviceforapps"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"When_a_record_is_created,_updated_or_deleted":{"type":"OpenApiConnectionWebhook","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"SubscribeWebhookTrigger","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"subscriptionRequest/message":4,"subscriptionRequest/entityname":"msnfpe_planningperiod","subscriptionRequest/scope":4,"subscriptionRequest/filteringattributes":"msnfpe_period_startdate,msnfpe_period_enddate"},"authentication":"@parameters('$authentication')"}}},"actions":{"Initialize_DaysIndex_for_loop":{"runAfter":{},"type":"InitializeVariable","inputs":{"variables":[{"name":"DaysIndex","type":"Integer","value":0}]}},"Initialize_WeekdayCounter":{"runAfter":{"Initialize_DaysIndex_for_loop":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"WeekdayCounter","type":"Integer","value":0}]}},"Do_until_each_DayInPeriod_has_been_evaluated":{"actions":{"Check_if_this_date_is_a_weekday":{"actions":{"Increment_WeekdayCounter":{"runAfter":{},"type":"IncrementVariable","inputs":{"name":"WeekdayCounter","value":1}}},"runAfter":{},"expression":{"and":[{"greater":["@dayofweek(addDays(triggerOutputs()?['body/msnfpe_period_startdate'], variables('DaysIndex')))",0]},{"less":["@dayofweek(addDays(triggerOutputs()?['body/msnfpe_period_startdate'], variables('DaysIndex')))",6]}]},"type":"If"},"Increment_DaysIndex":{"runAfter":{"Check_if_this_date_is_a_weekday":["Succeeded"]},"type":"IncrementVariable","inputs":{"name":"DaysIndex","value":1}}},"runAfter":{"Initialize_WeekdayCounter":["Succeeded"]},"expression":"@equals(variables('DaysIndex'), triggerOutputs()?['body/msnfpe_daysinperiod'])","limit":{"count":60,"timeout":"PT1H"},"type":"Until"},"Update_a_record":{"runAfter":{"Do_until_each_DayInPeriod_has_been_evaluated":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"msnfpe_planningperiods","recordId":"@triggerOutputs()?['body/msnfpe_planningperiodid']","item/msnfpe_weekdaysinperiod":"@variables('WeekdayCounter')"},"authentication":"@parameters('$authentication')"}}},"outputs":{}}},"schemaVersion":"1.0.0.0"}