samples/NonprofitOperationsToolkitFlows/Workflows/ProjectBudget-updateBudgetLineswhenStatusReasoncha-CC7FA712-2199-E911-A828-000D3A1D5A0B.json
{"properties":{"connectionReferences":{"shared_commondataserviceforapps":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_commondataserviceforapps"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"When_Project_Budget_Status_Reason_changes":{"type":"OpenApiConnectionWebhook","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"SubscribeWebhookTrigger","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"subscriptionRequest/message":3,"subscriptionRequest/entityname":"msnfp_budget","subscriptionRequest/scope":4,"subscriptionRequest/filteringattributes":"statuscode"},"authentication":"@parameters('$authentication')"}}},"actions":{"List_Project_Budget_Lines":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"msnfpe_projectbudgetlines","$select":"msnfpe_projectbudgetlineid","$filter":"_msnfpe_msnfp_projectbudgetid_value eq @{triggerOutputs()?['body/msnfp_budgetid']}"},"authentication":"@parameters('$authentication')"}},"Check_if_Status_was_changed_to_Disregarded_or_Superseded":{"actions":{"Deactivate_each_Budget_Line":{"foreach":"@outputs('List_Project_Budget_Lines')?['body/value']","actions":{"Update_to_Budget_Lines_to_Inactive":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"msnfpe_projectbudgetlines","recordId":"@items('Deactivate_each_Budget_Line')?['msnfpe_projectbudgetlineid']","item/statecode":1,"item/statuscode":2},"authentication":"@parameters('$authentication')"}}},"runAfter":{},"type":"Foreach"}},"runAfter":{"List_Project_Budget_Lines":["Succeeded"]},"else":{"actions":{"Check_if_Draft":{"actions":{"Activate_each_Budget_Line":{"foreach":"@outputs('List_Project_Budget_Lines')?['body/value']","actions":{"Update_Budget_Lines_to_Active":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"msnfpe_projectbudgetlines","recordId":"@items('Activate_each_Budget_Line')?['msnfpe_projectbudgetlineid']","item/statecode":0,"item/statuscode":1},"authentication":"@parameters('$authentication')"}}},"runAfter":{},"type":"Foreach"}},"runAfter":{},"expression":{"equals":["@triggerOutputs()?['body/statuscode']",1]},"type":"If"}}},"expression":{"or":[{"equals":["@triggerOutputs()?['body/statuscode']",2]},{"equals":["@triggerOutputs()?['body/statuscode']",796500005]}]},"type":"If"}},"outputs":{}}},"schemaVersion":"1.0.0.0"}