samples/NonprofitOperationsToolkitFlows/Workflows/ProjectBudget-warnofbudgetlineplanneddifferences-022BE2C9-9E97-E911-A82F-000D3A1D5203.json
{"properties":{"connectionReferences":{"shared_commondataserviceforapps_1":{"impersonation":{},"runtimeSource":"embedded","connection":{},"api":{"name":"shared_commondataserviceforapps"}},"shared_office365_1":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_office365"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"Recurrence":{"recurrence":{"frequency":"Hour","interval":2,"timeZone":"UTC"},"type":"Recurrence"}},"actions":{"List_Project_Budgets_to_evaluate":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps","connectionName":"shared_commondataserviceforapps_1","operationId":"ListRecords"},"parameters":{"entityName":"msnfp_budgets","fetchXml":"<fetch>\n  <entity name=\"msnfp_budget\" >\n    <attribute name=\"msnfp_budgetid\" alias=\"ProjectBudgetId\" />\n    <attribute name=\"msnfp_name\" alias=\"ProjectBudgetName\" />\n    <attribute name=\"statuscode\" alias=\"ProjectBudgetStatus\" />\n    <filter type=\"or\" >\n      <condition attribute=\"statuscode\" operator=\"eq\" value=\"1\" />\n      <condition attribute=\"statuscode\" operator=\"eq\" value=\"796500002\" />\n      <condition attribute=\"statuscode\" operator=\"eq\" value=\"796500003\" />\n    </filter>\n    <link-entity name=\"msnfpe_project\" from=\"msnfpe_projectid\" to=\"msnfpe_projectid\" >\n      <attribute name=\"msnfpe_projectname\" alias=\"ProjectName\" />\n      <link-entity name=\"msnfpe_worker\" from=\"msnfpe_workerid\" to=\"msnfpe_projectmanagerid\" >\n        <attribute name=\"msnfpe_primaryemail\" alias=\"ProjectManagerEmail\" />\n      </link-entity>\n    </link-entity>\n    <link-entity name=\"msnfpe_projectbudgetline\" from=\"msnfpe_msnfp_projectbudgetid\" to=\"msnfp_budgetid\" link-type=\"inner\" >\n      <attribute name=\"msnfpe_projectbudgetlineid\" alias=\"ProjectBudgetLineId\" />\n      <attribute name=\"msnfpe_budgetline_amount\" alias=\"TotalAmount\" />\n      <attribute name=\"msnfpe_plannedamount\" alias=\"PlannedAmount\" />\n      <attribute name=\"msnfpe_planneddifference\" alias=\"PlannedDifference\" />\n      <attribute name=\"msnfpe_projectbudgetlinename\" alias=\"BudgetLineDescription\" />\n      <filter type=\"and\" >\n        <condition attribute=\"statuscode\" operator=\"eq\" value=\"1\" />\n        <condition attribute=\"msnfpe_planneddifference\" operator=\"neq\" value=\"0\" />\n      </filter>\n    </link-entity>\n  </entity>\n</fetch>"},"authentication":"@parameters('$authentication')"}},"Parse_Budget_Info":{"runAfter":{"List_Project_Budgets_to_evaluate":["Succeeded"]},"type":"ParseJson","inputs":{"content":"@outputs('List_Project_Budgets_to_evaluate')?['body']","schema":{"type":"object","properties":{"@@odata.id":{"type":"string"},"ProjectBudgetId":{"type":"string"},"PlannedDifference":{"type":"number"},"ProjectManagerEmail":{"type":"string"},"BudgetLineDescription":{"type":"string"},"ProjectBudgetName":{"type":"string"},"ProjectBudgetLineId":{"type":"string"},"ProjectBudgetStatus":{"type":"integer"},"ProjectName":{"type":"string"},"TotalAmount":{"type":"integer"},"PlannedAmount":{"type":"number"}}}}},"For_each_Project_send_an_email":{"foreach":"@outputs('List_Project_Budgets_to_evaluate')?['body/value']","actions":{"Send_an_email":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365_1","operationId":"SendEmail"},"parameters":{"emailMessage/To":"@{item()?['ProjectManagerEmail']};","emailMessage/Subject":"Difference between Budget Line Total Amount and Planned Amount","emailMessage/Body":"A difference of <b>@{item()?['PlannedDifference']}</b> was identified between a budget line's stated Total Amount and what is planned across periods. \n<ul>\n<li><b>Project</b>:  @{item()?['ProjectName']}</li>\n<li><b>Budget</b>:  @{item()?['ProjectBudgetName']}</li>\n<li><b>Budget Line</b>:  @{item()?['BudgetLineDescription']}</li>\n<li><b>Budget Line Total</b>:  @{item()?['TotalAmount']}</li>\n<li><b>Currently Planned</b>:  @{item()?['PlannedAmount']}</li>\n</ul>","emailMessage/From":"@body('Parse_Budget_Info')?['ProjectManagerEmail']","emailMessage/Importance":"Normal","emailMessage/IsHtml":true},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Parse_Budget_Info":["Succeeded"]},"type":"Foreach"}},"outputs":{}}},"schemaVersion":"1.0.0.0"}