samples/NonprofitOperationsToolkitFlows/Workflows/Project-updateActivitieswithStatusReasonchange-F2FAB0E8-D899-E911-A828-000D3A1D5A0B.json
{"properties":{"connectionReferences":{"shared_commondataserviceforapps_1":{"impersonation":{},"runtimeSource":"embedded","connection":{},"api":{"name":"shared_commondataserviceforapps"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"When_a_record_is_created,_updated_or_deleted":{"type":"OpenApiConnectionWebhook","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps","connectionName":"shared_commondataserviceforapps_1","operationId":"SubscribeWebhookTrigger"},"parameters":{"subscriptionRequest/message":3,"subscriptionRequest/entityname":"msnfpe_project","subscriptionRequest/scope":4,"subscriptionRequest/filteringattributes":"statuscode","subscriptionRequest/name":"f2fab0e8-d899-e911-a828-000d3a1d5a0b"},"authentication":"@parameters('$authentication')"}}},"actions":{"Get_all_associated_Activities":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps","connectionName":"shared_commondataserviceforapps_1","operationId":"ListRecords"},"parameters":{"entityName":"msnfpe_projectactivities","fetchXml":"<fetch>\n  <entity name=\"msnfpe_projectactivity\" >\n    <attribute name=\"msnfpe_projectactivityid\" />\n    <attribute name=\"statuscode\" />\n    <filter>\n      <condition attribute=\"msnfpe_projectid\" operator=\"eq\" value=\"@{triggerOutputs()?['body/msnfpe_projectid']}\" />\n    </filter>\n  </entity>\n</fetch>"},"authentication":"@parameters('$authentication')"}},"Switch_on_Project_Status_Reason":{"runAfter":{"Get_all_associated_Activities":["Succeeded"]},"cases":{"Case_Project_In-Progress":{"case":796500000,"actions":{"Apply_to_each_Activity":{"foreach":"@outputs('Get_all_associated_Activities')?['body/value']","actions":{"If_Activity_Draft_or_Paused":{"actions":{"Update_a_record_2":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps","connectionName":"shared_commondataserviceforapps_1","operationId":"UpdateRecord"},"parameters":{"entityName":"msnfpe_projectactivities","recordId":"@items('Apply_to_each_Activity')?['msnfpe_projectactivityid']","item/statecode":0,"item/statuscode":796500000},"authentication":"@parameters('$authentication')"}}},"runAfter":{},"else":{"actions":{"If_Activity_Disregarded":{"actions":{"Update_a_record_3":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps","connectionName":"shared_commondataserviceforapps_1","operationId":"UpdateRecord"},"parameters":{"entityName":"msnfpe_projectactivities","recordId":"@items('Apply_to_each_Activity')?['msnfpe_projectactivityid']","item/statecode":0,"item/statuscode":1},"authentication":"@parameters('$authentication')"}}},"runAfter":{},"expression":{"equals":["@items('Apply_to_each_Activity')?['statuscode']",796500002]},"type":"If"}}},"expression":{"or":[{"equals":["@items('Apply_to_each_Activity')?['statuscode']",1]},{"equals":["@items('Apply_to_each_Activity')?['statuscode']",2]}]},"type":"If"}},"runAfter":{},"type":"Foreach"}}},"Case_Project_Paused":{"case":2,"actions":{"Apply_to_each_Activity_2":{"foreach":"@outputs('Get_all_associated_Activities')?['body/value']","actions":{"Switch_on_Activity_Status_Reason":{"runAfter":{},"cases":{"Case_Activity_is_Draft":{"case":1,"actions":{"Update_to_Inactive_Disregarded":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps","connectionName":"shared_commondataserviceforapps_1","operationId":"UpdateRecord"},"parameters":{"entityName":"msnfpe_projectactivities","recordId":"@items('Apply_to_each_Activity_2')?['msnfpe_projectactivityid']","item/statecode":1,"item/statuscode":796500002},"authentication":"@parameters('$authentication')"}}}},"Case_Activity_is_In-Progress":{"case":796500000,"actions":{"Update_to_Inactive_Paused":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps","connectionName":"shared_commondataserviceforapps_1","operationId":"UpdateRecord"},"parameters":{"entityName":"msnfpe_projectactivities","recordId":"@items('Apply_to_each_Activity_2')?['msnfpe_projectactivityid']","item/statecode":1,"item/statuscode":2},"authentication":"@parameters('$authentication')"}}}}},"default":{"actions":{}},"expression":"@items('Apply_to_each_Activity_2')?['statuscode']","type":"Switch"}},"runAfter":{},"type":"Foreach"}}},"Case_Project_Completed":{"case":796500001,"actions":{"Apply_to_each_Activity_3":{"foreach":"@outputs('Get_all_associated_Activities')?['body/value']","actions":{"If_Paused_or_In-Progress":{"actions":{"Update_to_Inactive_Completed":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps","connectionName":"shared_commondataserviceforapps_1","operationId":"UpdateRecord"},"parameters":{"entityName":"msnfpe_projectactivities","recordId":"@items('Apply_to_each_Activity_3')?['msnfpe_projectactivityid']","item/statecode":1,"item/statuscode":796500001},"authentication":"@parameters('$authentication')"}}},"runAfter":{},"else":{"actions":{"If_Activity_in_Draft":{"actions":{"Update_to_Inactive_Disregarded_2":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps","connectionName":"shared_commondataserviceforapps_1","operationId":"UpdateRecord"},"parameters":{"entityName":"msnfpe_projectactivities","recordId":"@items('Apply_to_each_Activity_3')?['msnfpe_projectactivityid']","item/statecode":1,"item/statuscode":796500002},"authentication":"@parameters('$authentication')"}}},"runAfter":{},"expression":{"equals":["@items('Apply_to_each_Activity_3')?['statuscode']",1]},"type":"If"}}},"expression":{"or":[{"equals":["@items('Apply_to_each_Activity_3')?['statuscode']",2]},{"equals":["@items('Apply_to_each_Activity_3')?['statuscode']",796500000]}]},"type":"If"}},"runAfter":{},"type":"Foreach"}}},"Case_Project_Disregarded":{"case":796500002,"actions":{"Apply_to_each_Activity_4":{"foreach":"@outputs('Get_all_associated_Activities')?['body/value']","actions":{"Update_a_record":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps","connectionName":"shared_commondataserviceforapps_1","operationId":"UpdateRecord"},"parameters":{"entityName":"msnfpe_projectactivities","recordId":"@items('Apply_to_each_Activity_4')?['msnfpe_projectactivityid']","item/statecode":1,"item/statuscode":796500002},"authentication":"@parameters('$authentication')"}}},"runAfter":{},"type":"Foreach"}}},"Case_Project_Draft":{"case":1,"actions":{"Apply_to_each_Activity_5":{"foreach":"@outputs('Get_all_associated_Activities')?['body/value']","actions":{"Update_to_Active_Draft_2":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps","connectionName":"shared_commondataserviceforapps_1","operationId":"UpdateRecord"},"parameters":{"entityName":"msnfpe_projectactivities","recordId":"@items('Apply_to_each_Activity_5')?['msnfpe_projectactivityid']","item/statecode":0,"item/statuscode":1},"authentication":"@parameters('$authentication')"}}},"runAfter":{},"type":"Foreach"}}}},"default":{"actions":{}},"expression":"@triggerOutputs()?['body/statuscode']","type":"Switch"}},"outputs":{}}},"schemaVersion":"1.0.0.0"}