samples/NonprofitOperationsToolkitFlows/Workflows/Timesheet-createTimeEntriesfornewTimesheet-F1D01369-B0B0-E911-A98E-000D3A137A43.json
{"properties":{"connectionReferences":{"shared_commondataserviceforapps_1":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_commondataserviceforapps"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"When_a_Timesheet_is_created":{"type":"OpenApiConnectionWebhook","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"SubscribeWebhookTrigger","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"subscriptionRequest/message":1,"subscriptionRequest/entityname":"msnfpe_timesheet","subscriptionRequest/scope":4},"authentication":"@parameters('$authentication')"}}},"actions":{"Get_Planning_Period":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"msnfpe_planningperiods","recordId":"@triggerOutputs()?['body/_msnfpe_planningperiodid_value']","$select":"msnfpe_period_startdate, msnfpe_period_enddate, msnfpe_daysinperiod"},"authentication":"@parameters('$authentication')"}},"Initialize_DayCounter":{"runAfter":{"Initialize_DayToAdd":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"DayCounter","type":"Integer","value":0}]}},"Add_days_until_end_of_Period":{"actions":{"Increment_DayCounter":{"runAfter":{"Check_if_DayToAdd_is_a_weekday":["Succeeded"]},"type":"IncrementVariable","inputs":{"name":"DayCounter","value":1}},"Set_DayToAdd":{"runAfter":{"Increment_DayCounter":["Succeeded"]},"type":"SetVariable","inputs":{"name":"DayToAdd","value":"@{addDays(outputs('Get_Planning_Period')?['body/msnfpe_period_startdate'],variables('DayCounter'))}"}},"Check_if_DayToAdd_is_a_weekday":{"actions":{"Create_a_new_Time_Entry":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"CreateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"msnfpe_timeentries","item/msnfpe_date":"@variables('DayToAdd')","item/msnfpe_entryname":"New Time Entry","item/msnfpe_TimesheetId@odata.bind":"/msnfpe_timesheets(@{triggerOutputs()?['body/msnfpe_timesheetid']})","item/msnfpe_WorkerId@odata.bind":"/msnfpe_workers(@{triggerOutputs()?['body/_msnfpe_workerid_value']})","item/msnfpe_TimesheetPeriodId@odata.bind":"/msnfpe_planningperiods(@{triggerOutputs()?['body/_msnfpe_planningperiodid_value']})"},"authentication":"@parameters('$authentication')"}}},"runAfter":{},"expression":{"and":[{"greater":["@dayOfWeek(variables('DayToAdd'))",0]},{"less":["@dayOfWeek(variables('DayToAdd'))",6]}]},"type":"If"}},"runAfter":{"Initialize_DayCounter":["Succeeded"]},"expression":"@equals(variables('DayCounter'), outputs('Get_Planning_Period')?['body/msnfpe_daysinperiod'])","limit":{"count":60,"timeout":"PT1H"},"type":"Until"},"Initialize_DayToAdd":{"runAfter":{"Get_Planning_Period":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"DayToAdd","type":"String","value":"@outputs('Get_Planning_Period')?['body/msnfpe_period_startdate']"}]}}},"outputs":{}}},"schemaVersion":"1.0.0.0"}