samples/NonprofitOperationsToolkitFlows/Workflows/WorkerCostSchedules-refreshvaluesforActiveWorkers-CA5B28A2-C958-EA11-A811-000D3A579C97.json
{"properties":{"connectionReferences":{"shared_commondataserviceforapps":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_commondataserviceforapps"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"Recurrence":{"recurrence":{"frequency":"Hour","interval":1},"type":"Recurrence"}},"actions":{"For_each_Planning_Period":{"foreach":"@outputs('Get_relevant_Planning_Periods')?['body/value']","actions":{"Get_relevant_Workers_with_Total_Compensation_and_Cost_Schedule":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"msnfpe_workers","fetchXml":"<fetch distinct=\"true\" aggregate=\"true\" >\n  <entity name=\"msnfpe_worker\" >\n    <attribute name=\"msnfpe_workerid\" alias=\"msnfpe_workerid\" groupby=\"true\" />\n    <attribute name=\"msnfpe_worker_currencyid\" alias=\"WorkerCurrencyId\" groupby=\"true\" />\n    <attribute name=\"msnfpe_workername\" alias=\"WorkerName\" groupby=\"true\" />\n    <attribute name=\"statecode\" alias=\"Status\" groupby=\"true\" />\n    <filter>\n      <condition attribute=\"statecode\" operator=\"eq\" value=\"0\" />\n      <condition attribute=\"msnfpe_worker_currencyid\" operator=\"not-null\" />\n    </filter>\n    <link-entity name=\"msnfpe_compensationplan\" from=\"msnfpe_workerid\" to=\"msnfpe_workerid\" link-type=\"outer\" >\n      <attribute name=\"msnfpe_monthlyequivalent_base\" alias=\"MonthlyEquivalentBase_sum\" aggregate=\"sum\" />\n      <attribute name=\"msnfpe_monthlybenefit\" alias=\"MonthlyBenefitBase_sum\" aggregate=\"sum\" />\n      <attribute name=\"msnfpe_dailyequivalent_base\" alias=\"DailyEquivalentBase_sum\" aggregate=\"sum\" />\n      <attribute name=\"msnfpe_dailybenefit_base\" alias=\"DailyBenefitBase_sum\" aggregate=\"sum\" />\n      <filter type=\"and\" >\n        <condition attribute=\"statecode\" operator=\"eq\" value=\"0\" />\n        <condition attribute=\"msnfpe_effectivedate\" operator=\"on-or-before\" value=\"@{items('For_each_Planning_Period')?['msnfpe_period_enddate']}\" />\n        <filter type=\"or\" >\n          <condition attribute=\"msnfpe_expirationdate\" operator=\"null\" />\n          <condition attribute=\"msnfpe_expirationdate\" operator=\"on-or-after\" value=\"@{items('For_each_Planning_Period')?['msnfpe_period_startdate']}\" />\n        </filter>\n      </filter>\n    </link-entity>\n    <link-entity name=\"msnfpe_workercostschedule\" from=\"msnfpe_workerid\" to=\"msnfpe_workerid\" link-type=\"outer\" >\n      <attribute name=\"msnfpe_workercostscheduleid\" alias=\"WorkerCostScheduleId\" groupby=\"true\" />\n      <filter>\n        <condition attribute=\"msnfpe_planningperiodid\" operator=\"eq\" value=\"@{items('For_each_Planning_Period')?['msnfpe_planningperiodid']}\" />\n      </filter>\n    </link-entity>\n  </entity>\n</fetch>"},"authentication":"@parameters('$authentication')"},"description":"This includes active Workers, the sum of active Comp Plans and a Cost Schedule for this Planning Period"},"For_each_Worker":{"foreach":"@body('Parse_Workers')?['value']","actions":{"If_a_Cost_Schedule_exists":{"actions":{"Create_a_Worker_Cost_Schedule":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"CreateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"msnfpe_workercostschedules","item/msnfpe_schedulename":"@concat(items('For_each_Planning_Period')?['msnfpe_periodname'],'-',items('For_each_Worker')?['WorkerName'])","item/msnfpe_PlanningPeriodId@odata.bind":"/msnfpe_planningperiods(@{items('For_each_Planning_Period')?['msnfpe_planningperiodid']})","item/msnfpe_WorkerId@odata.bind":"/msnfpe_workers(@{items('For_each_Worker')?['msnfpe_workerid']})","item/msnfpe_dailybenefits":"@items('For_each_Worker')?['DailyBenefitBase_sum']","item/msnfpe_dailysalary":"@items('For_each_Worker')?['DailyEquivalentBase_sum']","item/msnfpe_totalbenefits":"@items('For_each_Worker')?['MonthlyBenefitBase_sum']","item/msnfpe_totalsalary":"@items('For_each_Worker')?['MonthlyEquivalentBase_sum']"},"authentication":"@parameters('$authentication')"}}},"runAfter":{},"else":{"actions":{"Update_a_record":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"msnfpe_workercostschedules","recordId":"@items('For_each_Worker')?['WorkerCostScheduleId']","item/msnfpe_schedulename":"@concat(items('For_each_Planning_Period')?['msnfpe_periodname'],'-',items('For_each_Worker')?['WorkerName'])","item/msnfpe_dailybenefits":"@items('For_each_Worker')?['DailyBenefitBase_sum']","item/msnfpe_dailysalary":"@items('For_each_Worker')?['DailyEquivalentBase_sum']","item/msnfpe_totalbenefits":"@items('For_each_Worker')?['MonthlyBenefitBase_sum']","item/msnfpe_totalsalary":"@items('For_each_Worker')?['MonthlyEquivalentBase_sum']"},"authentication":"@parameters('$authentication')"}}}},"expression":{"equals":["@items('For_each_Worker')?['WorkerCostScheduleId']","@null"]},"type":"If"}},"runAfter":{"Parse_Workers":["Succeeded"]},"type":"Foreach"},"Parse_Workers":{"runAfter":{"Get_relevant_Workers_with_Total_Compensation_and_Cost_Schedule":["Succeeded"]},"type":"ParseJson","inputs":{"content":"@outputs('Get_relevant_Workers_with_Total_Compensation_and_Cost_Schedule')?['body']","schema":{"type":"object","properties":{"@@odata.context":{"type":"string"},"value":{"type":"array","items":{"type":"object","properties":{"MonthlyEquivalentBase_sum":{"type":["number","null"]},"DailyEquivalentBase_sum":{"type":["number","null"]},"WorkerCurrencyId":{"type":"string"},"WorkerName":{"type":"string"},"MonthlyBenefitBase_sum":{"type":["number","null"]},"DailyBenefitBase_sum":{"type":["number","null"]},"WorkerCostScheduleId":{"type":"string"},"msnfpe_workerid":{"type":"string"}},"required":["WorkerCurrencyId","msnfpe_workerid","WorkerName"]}}}}}}},"runAfter":{"Get_relevant_Planning_Periods":["Succeeded"]},"type":"Foreach","runtimeConfiguration":{"concurrency":{"repetitions":50}}},"Get_relevant_Planning_Periods":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"msnfpe_planningperiods","$select":"msnfpe_planningperiodid, msnfpe_planningperiod_type, msnfpe_periodname, msnfpe_period_startdate, msnfpe_period_enddate, msnfpe_weekdaysinperiod","$filter":"statecode eq 0"},"authentication":"@parameters('$authentication')"}}},"outputs":{}}},"schemaVersion":"1.0.0.0"}