CDS.Solutions.Nonprofit.CommonDataModel/NonprofitCore/Workflows/SDGSync-6434ED3D-2CF0-E911-A97D-000D3A59746E.json
{"properties":{"connectionReferences":{"shared_commondataservice_1":{"runtimeSource":"invoker","connection":{},"api":{"name":"shared_commondataservice"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"type":"Request","kind":"Button","inputs":{"schema":{"type":"object","properties":{},"required":[]}}}},"actions":{"Initialize_variable_SDG_LibraryID":{"runAfter":{},"type":"InitializeVariable","inputs":{"variables":[{"name":"SDG_LibraryID","type":"String"}]}},"List_records_LookForSDGLibrary":{"runAfter":{"Initialize_variable_SDG_LibraryID":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataservice","connectionName":"shared_commondataservice_1","operationId":"GetItems_V2"},"parameters":{"dataset":"default.cds","table":"msnfp_measurementitems","$filter":"msnfp_code eq '0' and msnfp_type eq 844060008 and msnfp_librarytype eq 844060000"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Condition_LookforSDGLibrary_less_than_1":{"actions":{"Create_SDG_Library_Item":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataservice","connectionName":"shared_commondataservice_1","operationId":"PostItem_V2"},"parameters":{"dataset":"default.cds","table":"msnfp_measurementitems","item/msnfp_name":"Sustainable Development Goals","item/msnfp_code":"0","item/msnfp_librarytype":844060000,"item/msnfp_type":844060008,"item/_ownerid_type":""},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}}},"runAfter":{"List_records_LookForSDGLibrary":["Succeeded"]},"expression":{"less":["@length(body('List_records_LookForSDGLibrary')?['value'])",1]},"type":"If"},"List_records_Get_SDG_Library_Item":{"runAfter":{"Condition_LookforSDGLibrary_less_than_1":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataservice","connectionName":"shared_commondataservice_1","operationId":"GetItems_V2"},"parameters":{"dataset":"default.cds","table":"msnfp_measurementitems","$filter":"msnfp_code eq '0' and msnfp_type eq 844060008 and msnfp_librarytype eq 844060000"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Set_variable_SDG_LibraryID":{"runAfter":{"List_records_Get_SDG_Library_Item":["Succeeded"]},"type":"SetVariable","inputs":{"name":"SDG_LibraryID","value":"@{first(body('List_records_Get_SDG_Library_Item')?['value'])?['msnfp_measurementitemid']}"}},"HTTP_Get_Goals":{"runAfter":{"Set_variable_SDG_LibraryID":["Succeeded"]},"type":"Http","inputs":{"method":"GET","uri":"https://unstats.un.org/SDGAPI/v1/sdg/Goal/List"}},"Parse_Goal_JSON":{"runAfter":{"HTTP_Get_Goals":["Succeeded"]},"type":"ParseJson","inputs":{"content":"@body('HTTP_Get_Goals')","schema":{"type":"array","items":{"type":"object","properties":{"code":{"type":"string"},"title":{"type":"string"},"description":{"type":"string"},"uri":{"type":"string"}},"required":["code","title","description","uri"]}}}},"Apply_to_each_Goal":{"foreach":"@body('Parse_Goal_JSON')","actions":{"List_records_Check_for_Goal":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataservice","connectionName":"shared_commondataservice_1","operationId":"GetItems_V2"},"parameters":{"dataset":"default.cds","table":"msnfp_measurementitems","$filter":"msnfp_code eq '@{items('Apply_to_each_Goal')['code']}' and msnfp_librarytype eq 844060000"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Condition_If_Goal_Not_Exists":{"actions":{"Create_Goal_Measurement_Item":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataservice","connectionName":"shared_commondataservice_1","operationId":"PostItem_V2"},"parameters":{"dataset":"default.cds","table":"msnfp_measurementitems","item/msnfp_name":"@items('Apply_to_each_Goal')['title']","item/msnfp_code":"@items('Apply_to_each_Goal')['code']","item/msnfp_description":"@items('Apply_to_each_Goal')['description']","item/msnfp_librarytype":844060000,"item/msnfp_type":844060000,"item/_ownerid_type":""},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Create_Goal_Measurement_Item_Relationship":{"runAfter":{"Create_Goal_Measurement_Item":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataservice","connectionName":"shared_commondataservice_1","operationId":"PostItem_V2"},"parameters":{"dataset":"default.cds","table":"msnfp_measurementitemrelationships","item/msnfp_name":"@if(greater(length(concat('SDG - ',body('Create_Goal_Measurement_Item')['msnfp_name'])),100),substring(concat('SDG - ',body('Create_Goal_Measurement_Item')['msnfp_name']),0,100),concat('SDG - ',body('Create_Goal_Measurement_Item')['msnfp_name']))","item/msnfp_relationshiptype":844060000,"item/_msnfp_relationshipfromid_value":"@variables('SDG_LibraryID')","item/_msnfp_relationshiptoid_value":"@outputs('Create_Goal_Measurement_Item')?['body/msnfp_measurementitemid']"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}}},"runAfter":{"List_records_Check_for_Goal":["Succeeded"]},"expression":{"less":["@length(body('List_records_Check_for_Goal')?['value'])",1]},"type":"If"}},"runAfter":{"Parse_Goal_JSON":["Succeeded"]},"type":"Foreach"},"HTTP_Targets":{"runAfter":{"Apply_to_each_Goal":["Succeeded"]},"type":"Http","inputs":{"method":"GET","uri":"https://unstats.un.org/SDGAPI/v1/sdg/Target/List"}},"Parse_Target_JSON":{"runAfter":{"HTTP_Targets":["Succeeded"]},"type":"ParseJson","inputs":{"content":"@body('HTTP_Targets')","schema":{"type":"array","items":{"type":"object","properties":{"goal":{"type":"string"},"code":{"type":"string"},"title":{"type":"string"},"description":{"type":"string"},"uri":{"type":"string"},"indicators":{}},"required":["goal","code","title","description","uri","indicators"]}}}},"Apply_to_each_Target":{"foreach":"@body('Parse_Target_JSON')","actions":{"List_records_Check_for_Target":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataservice","connectionName":"shared_commondataservice_1","operationId":"GetItems_V2"},"parameters":{"dataset":"default.cds","table":"msnfp_measurementitems","$filter":"msnfp_code eq '@{items('Apply_to_each_Target')['code']}' and msnfp_librarytype eq 844060000"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Condition_If_Target_Not_Exists":{"actions":{"Create_Target":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataservice","connectionName":"shared_commondataservice_1","operationId":"PostItem_V2"},"parameters":{"dataset":"default.cds","table":"msnfp_measurementitems","item/msnfp_name":"@if(greater(length(items('Apply_to_each_Target')?['title']),850),substring(items('Apply_to_each_Target')?['title'],0,850),items('Apply_to_each_Target')?['title'])","item/msnfp_code":"@items('Apply_to_each_Target')['code']","item/msnfp_description":"@items('Apply_to_each_Target')['description']","item/msnfp_librarytype":844060000,"item/msnfp_type":844060002,"item/_ownerid_type":""},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"List_records_Get_Parent_Goal":{"runAfter":{"Create_Target":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataservice","connectionName":"shared_commondataservice_1","operationId":"GetItems_V2"},"parameters":{"dataset":"default.cds","table":"msnfp_measurementitems","$filter":"msnfp_code eq '@{items('Apply_to_each_Target')['goal']}' and msnfp_librarytype eq 844060000"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Create_Target_Measurement_Item_Relationship":{"runAfter":{"List_records_Get_Parent_Goal":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataservice","connectionName":"shared_commondataservice_1","operationId":"PostItem_V2"},"parameters":{"dataset":"default.cds","table":"msnfp_measurementitemrelationships","item/msnfp_name":"@if(greater(length(concat(first(body('List_records_Get_Parent_Goal')?['value'])?['msnfp_name'], ' - ',body('Create_Target')['msnfp_name'])),100),substring(concat(first(body('List_records_Get_Parent_Goal')?['value'])?['msnfp_name'], ' - ',body('Create_Target')['msnfp_name']),0,100),concat(first(body('List_records_Get_Parent_Goal')?['value'])?['msnfp_name'], ' - ',body('Create_Target')['msnfp_name']))","item/msnfp_relationshiptype":844060000,"item/_ownerid_type":"","item/_msnfp_relationshipfromid_value":"@first(body('List_records_Get_Parent_Goal')?['value'])?['msnfp_measurementitemid']","item/_msnfp_relationshiptoid_value":"@outputs('Create_Target')?['body/msnfp_measurementitemid']"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}}},"runAfter":{"List_records_Check_for_Target":["Succeeded"]},"expression":{"less":["@length(body('List_records_Check_for_Target')?['value'])",1]},"type":"If"}},"runAfter":{"Parse_Target_JSON":["Succeeded"]},"type":"Foreach"},"HTTP_Indicators":{"runAfter":{"Apply_to_each_Target":["Succeeded"]},"type":"Http","inputs":{"method":"GET","uri":"https://unstats.un.org/SDGAPI/v1/sdg/Indicator/List"}},"Parse_Indicator_JSON":{"runAfter":{"HTTP_Indicators":["Succeeded"]},"type":"ParseJson","inputs":{"content":"@body('HTTP_Indicators')","schema":{"type":"array","items":{"type":"object","properties":{"goal":{"type":"string"},"target":{"type":"string"},"code":{"type":"string"},"description":{"type":"string"},"tier":{"type":"string"},"uri":{"type":"string"},"series":{"type":"array"}},"required":["goal","target","code","description","tier","uri","series"]}}}},"Apply_to_each_Indicator":{"foreach":"@body('Parse_Indicator_JSON')","actions":{"List_records_Check_for_Indicator":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataservice","connectionName":"shared_commondataservice_1","operationId":"GetItems_V2"},"parameters":{"dataset":"default.cds","table":"msnfp_measurementitems","$filter":"msnfp_code eq '@{items('Apply_to_each_Indicator')['code']}' and msnfp_librarytype eq 844060000 "},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Condition_If_Indicator_Not_Exists":{"actions":{"Create_Indicator":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataservice","connectionName":"shared_commondataservice_1","operationId":"PostItem_V2"},"parameters":{"dataset":"default.cds","table":"msnfp_measurementitems","item/msnfp_name":"@if(greater(length(items('Apply_to_each_Indicator')['description']),850),substring(items('Apply_to_each_Indicator')['description'],0,850),items('Apply_to_each_Indicator')['description'])","item/msnfp_code":"@items('Apply_to_each_Indicator')['code']","item/msnfp_description":"@items('Apply_to_each_Indicator')['description']","item/msnfp_librarytype":844060000,"item/msnfp_type":844060005,"item/_ownerid_type":""},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"List_records_Get_Parent_Target":{"runAfter":{"Create_Indicator":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataservice","connectionName":"shared_commondataservice_1","operationId":"GetItems_V2"},"parameters":{"dataset":"default.cds","table":"msnfp_measurementitems","$filter":"msnfp_code eq '@{items('Apply_to_each_Indicator')['target']}' and msnfp_librarytype eq 844060000"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Create_Indicator_Measurement_Item_Relationship":{"runAfter":{"List_records_Get_Parent_Target":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataservice","connectionName":"shared_commondataservice_1","operationId":"PostItem_V2"},"parameters":{"dataset":"default.cds","table":"msnfp_measurementitemrelationships","item/msnfp_name":"@if(greater(length(concat(first(body('List_records_Get_Parent_Target')?['value'])?['msnfp_name'],' - ',body('Create_Indicator')['msnfp_name'])),100),substring(concat(first(body('List_records_Get_Parent_Target')?['value'])?['msnfp_name'],' - ',body('Create_Indicator')['msnfp_name']),0,100),concat(first(body('List_records_Get_Parent_Target')?['value'])?['msnfp_name'],' - ',body('Create_Indicator')['msnfp_name']))","item/msnfp_relationshiptype":844060000,"item/_ownerid_type":"","item/_msnfp_relationshipfromid_value":"@first(body('List_records_Get_Parent_Target')?['value'])?['msnfp_measurementitemid']","item/_msnfp_relationshiptoid_value":"@outputs('Create_Indicator')?['body/msnfp_measurementitemid']"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}}},"runAfter":{"List_records_Check_for_Indicator":["Succeeded"]},"expression":{"less":["@length(body('List_records_Check_for_Indicator')?['value'])",1]},"type":"If"}},"runAfter":{"Parse_Indicator_JSON":["Succeeded"]},"type":"Foreach"}},"outputs":{}}},"schemaVersion":"1.0.0.0"}