CDS.Solutions.Nonprofit.CommonDataModel/NonprofitIATI/Workflows/IATICodelistSync-0A669C42-F9D0-EA11-A812-000D3A11F015.json
{"properties":{"connectionReferences":{"shared_commondataserviceforapps":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"msiati_sharedcommondataserviceforapps_d6c79"},"api":{"name":"shared_commondataserviceforapps"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"type":"Request","kind":"PowerApp","inputs":{"schema":{"type":"object","properties":{},"required":[]}}}},"actions":{"Parse_Source_JSON":{"runAfter":{},"type":"ParseJson","inputs":{"content":{"Vocabulary":[{"CodelistType":"Aid Type","CodelistTypeID":453490001,"ApiUrl":"https://raw.githubusercontent.com/IATI/IATI-Codelists-NonEmbedded/master/xml/AidTypeVocabulary.xml"},{"CodelistType":"Budget Identifier","CodelistTypeID":453490013,"ApiUrl":"https://raw.githubusercontent.com/IATI/IATI-Codelists-NonEmbedded/master/xml/BudgetIdentifierVocabulary.xml"},{"CodelistType":"Geographic Location","CodelistTypeID":453490016,"ApiUrl":"https://raw.githubusercontent.com/IATI/IATI-Codelists-NonEmbedded/master/xml/GeographicVocabulary.xml"},{"CodelistType":"Humanitarian Scope","CodelistTypeID":453490019,"ApiUrl":"https://raw.githubusercontent.com/IATI/IATI-Codelists-NonEmbedded/master/xml/HumanitarianScopeVocabulary.xml"},{"CodelistType":"Indicator","CodelistTypeID":453490021,"ApiUrl":"https://raw.githubusercontent.com/IATI/IATI-Codelists-NonEmbedded/master/xml/IndicatorVocabulary.xml"},{"CodelistType":"Policy Marker","CodelistTypeID":453490026,"ApiUrl":"https://raw.githubusercontent.com/IATI/IATI-Codelists-NonEmbedded/master/xml/PolicyMarkerVocabulary.xml"},{"CodelistType":"Region","CodelistTypeID":453490028,"ApiUrl":"https://raw.githubusercontent.com/IATI/IATI-Codelists-NonEmbedded/master/xml/RegionVocabulary.xml"},{"CodelistType":"Result","CodelistTypeID":453490029,"ApiUrl":"https://raw.githubusercontent.com/IATI/IATI-Codelists-NonEmbedded/master/xml/ResultVocabulary.xml"},{"CodelistType":"Sector","CodelistTypeID":453490030,"ApiUrl":"https://raw.githubusercontent.com/IATI/IATI-Codelists-NonEmbedded/master/xml/SectorVocabulary.xml"},{"CodelistType":"Tag","CodelistTypeID":453490031,"ApiUrl":"https://raw.githubusercontent.com/IATI/IATI-Codelists-NonEmbedded/master/xml/TagVocabulary.xml"}],"Codelist":[{"CodelistType":"Activity Scope","CodelistTypeID":453490000,"ApiUrl":"https://raw.githubusercontent.com/IATI/IATI-Codelists-NonEmbedded/master/xml/ActivityScope.xml","HasVocabulary":false},{"CodelistType":"Aid Type","CodelistTypeID":453490001,"ApiUrl":"https://raw.githubusercontent.com/IATI/IATI-Codelists-NonEmbedded/master/xml/AidType.xml","HasVocabulary":true,"VocabularyCode":"1"},{"CodelistType":"Budget Identifier","CodelistTypeID":453490013,"ApiUrl":"https://raw.githubusercontent.com/IATI/IATI-Codelists-NonEmbedded/master/xml/BudgetIdentifier.xml","HasVocabulary":true,"VocabularyCode":"1"},{"CodelistType":"Budget Not Provided","CodelistTypeID":453490003,"ApiUrl":"https://raw.githubusercontent.com/IATI/IATI-Codelists-NonEmbedded/master/xml/BudgetNotProvided.xml","HasVocabulary":false},{"CodelistType":"Collaboration Type","CodelistTypeID":453490004,"ApiUrl":"https://raw.githubusercontent.com/IATI/IATI-Codelists-NonEmbedded/master/xml/CollaborationType.xml","HasVocabulary":false},{"CodelistType":"Condition Type","CodelistTypeID":453490005,"ApiUrl":"https://raw.githubusercontent.com/IATI/IATI-Codelists-NonEmbedded/master/xml/ConditionType.xml","HasVocabulary":false},{"CodelistType":"Contact Type","CodelistTypeID":453490006,"ApiUrl":"https://raw.githubusercontent.com/IATI/IATI-Codelists-NonEmbedded/master/xml/ContactType.xml","HasVocabulary":false},{"CodelistType":"Country","CodelistTypeID":453490007,"ApiUrl":"https://raw.githubusercontent.com/IATI/IATI-Codelists-NonEmbedded/master/xml/Country.xml","HasVocabulary":false},{"CodelistType":"CRS Additional Other Flags","CodelistTypeID":453490002,"ApiUrl":"https://raw.githubusercontent.com/IATI/IATI-Codelists-NonEmbedded/master/xml/CRSAddOtherFlags.xml","HasVocabulary":false},{"CodelistType":"CRS Channel Code","CodelistTypeID":453490008,"ApiUrl":"https://raw.githubusercontent.com/IATI/IATI-Codelists-NonEmbedded/master/xml/CRSChannelCode.xml","HasVocabulary":false},{"CodelistType":"Description Type","CodelistTypeID":453490009,"ApiUrl":"https://raw.githubusercontent.com/IATI/IATI-Codelists-NonEmbedded/master/xml/DescriptionType.xml","HasVocabulary":false},{"CodelistType":"Disbursement Channel","CodelistTypeID":453490010,"ApiUrl":"https://raw.githubusercontent.com/IATI/IATI-Codelists-NonEmbedded/master/xml/DisbursementChannel.xml","HasVocabulary":false},{"CodelistType":"File Format","CodelistTypeID":453490011,"ApiUrl":"https://raw.githubusercontent.com/IATI/IATI-Codelists-NonEmbedded/master/xml/FileFormat.xml","HasVocabulary":false},{"CodelistType":"Finance Type","CodelistTypeID":453490012,"ApiUrl":"https://raw.githubusercontent.com/IATI/IATI-Codelists-NonEmbedded/master/xml/FinanceType.xml","HasVocabulary":false},{"CodelistType":"Flow Type","CodelistTypeID":453490014,"ApiUrl":"https://raw.githubusercontent.com/IATI/IATI-Codelists-NonEmbedded/master/xml/FlowType.xml","HasVocabulary":false},{"CodelistType":"Geographic Exactness","CodelistTypeID":453490015,"ApiUrl":"https://raw.githubusercontent.com/IATI/IATI-Codelists-NonEmbedded/master/xml/GeographicExactness.xml","HasVocabulary":false},{"CodelistType":"Geographic Location Class","CodelistTypeID":453490017,"ApiUrl":"https://raw.githubusercontent.com/IATI/IATI-Codelists-NonEmbedded/master/xml/GeographicLocationClass.xml","HasVocabulary":false},{"CodelistType":"Geographic Location Reach","CodelistTypeID":453490018,"ApiUrl":"https://raw.githubusercontent.com/IATI/IATI-Codelists-NonEmbedded/master/xml/GeographicLocationReach.xml","HasVocabulary":false},{"CodelistType":"Humanitarian Scope Type","CodelistTypeID":453490020,"ApiUrl":"https://raw.githubusercontent.com/IATI/IATI-Codelists-NonEmbedded/master/xml/HumanitarianScopeType.xml","HasVocabulary":false},{"CodelistType":"Indicator Measure","CodelistTypeID":453490034,"ApiUrl":"https://raw.githubusercontent.com/IATI/IATI-Codelists-NonEmbedded/master/xml/IndicatorMeasure.xml","HasVocabulary":false},{"CodelistType":"Language","CodelistTypeID":453490022,"ApiUrl":"https://raw.githubusercontent.com/IATI/IATI-Codelists-NonEmbedded/master/xml/Language.xml","HasVocabulary":false},{"CodelistType":"Loan Repayment Period","CodelistTypeID":453490036,"ApiUrl":"https://raw.githubusercontent.com/IATI/IATI-Codelists-NonEmbedded/master/xml/LoanRepaymentPeriod.xml","HasVocabulary":false},{"CodelistType":"Loan Repayment Type","CodelistTypeID":453490035,"ApiUrl":"https://raw.githubusercontent.com/IATI/IATI-Codelists-NonEmbedded/master/xml/LoanRepaymentType.xml","HasVocabulary":false},{"CodelistType":"Location Type","CodelistTypeID":453490023,"ApiUrl":"https://raw.githubusercontent.com/IATI/IATI-Codelists-NonEmbedded/master/xml/LocationType.xml","HasVocabulary":false},{"CodelistType":"Organization Type","CodelistTypeID":453490024,"ApiUrl":"https://raw.githubusercontent.com/IATI/IATI-Codelists-NonEmbedded/master/xml/OrganisationType.xml","HasVocabulary":false},{"CodelistType":"Other Identifier Type","CodelistTypeID":453490025,"ApiUrl":"https://raw.githubusercontent.com/IATI/IATI-Codelists-NonEmbedded/master/xml/OtherIdentifierType.xml","HasVocabulary":false},{"CodelistType":"Policy Marker","CodelistTypeID":453490026,"ApiUrl":"https://raw.githubusercontent.com/IATI/IATI-Codelists-NonEmbedded/master/xml/PolicyMarker.xml","HasVocabulary":true,"VocabularyCode":"1"},{"CodelistType":"Policy Significance","CodelistTypeID":453490027,"ApiUrl":"https://raw.githubusercontent.com/IATI/IATI-Codelists-NonEmbedded/master/xml/PolicySignificance.xml","HasVocabulary":false},{"CodelistType":"Region","CodelistTypeID":453490028,"ApiUrl":"https://raw.githubusercontent.com/IATI/IATI-Codelists-NonEmbedded/master/xml/Region.xml","HasVocabulary":true,"VocabularyCode":"1"},{"CodelistType":"Result Type","CodelistTypeID":453490033,"ApiUrl":"https://raw.githubusercontent.com/IATI/IATI-Codelists-NonEmbedded/master/xml/ResultType.xml","HasVocabulary":false},{"CodelistType":"Sector","CodelistTypeID":453490030,"ApiUrl":"https://raw.githubusercontent.com/IATI/IATI-Codelists-NonEmbedded/master/xml/Sector.xml","HasVocabulary":true,"VocabularyCode":"1"},{"CodelistType":"Sector","CodelistTypeID":453490030,"ApiUrl":"https://raw.githubusercontent.com/IATI/IATI-Codelists-NonEmbedded/master/xml/SectorCategory.xml","HasVocabulary":true,"VocabularyCode":"2"},{"CodelistType":"Tied Status","CodelistTypeID":453490032,"ApiUrl":"https://raw.githubusercontent.com/IATI/IATI-Codelists-NonEmbedded/master/xml/TiedStatus.xml","HasVocabulary":false}]},"schema":{"type":"object","properties":{"Vocabulary":{"type":"array","items":{"type":"object","properties":{"CodelistType":{"type":"string"},"CodelistTypeID":{"type":"integer"},"ApiUrl":{"type":"string"}},"required":["CodelistType","CodelistTypeID","ApiUrl"]}},"Codelist":{"type":"array","items":{"type":"object","properties":{"CodelistType":{"type":"string"},"CodelistTypeID":{"type":"integer"},"ApiUrl":{"type":"string"},"HasVocabulary":{"type":"boolean"},"VocabularyCode":{"type":"string"}},"required":["CodelistType","CodelistTypeID","ApiUrl","HasVocabulary"]}}}}}},"Apply_to_each":{"foreach":"@body('Parse_Source_JSON')?['Vocabulary']","actions":{"HTTP_Vocabulary":{"runAfter":{},"type":"Http","inputs":{"method":"GET","uri":"@items('Apply_to_each')?['ApiUrl']"}},"Compose_Parse_Vocabulary_XML":{"runAfter":{"HTTP_Vocabulary":["Succeeded"]},"type":"Compose","inputs":"@xpath(xml(body('HTTP_Vocabulary')), '/codelist/codelist-items/codelist-item')"},"Apply_to_each_Vocabulary_Record_in_XML":{"foreach":"@outputs('Compose_Parse_Vocabulary_XML')","actions":{"Compose_Code":{"runAfter":{},"type":"Compose","inputs":"@xpath(item(),'string(codelist-item/code)')"},"Compose_Name":{"runAfter":{"Compose_Code":["Succeeded"]},"type":"Compose","inputs":"@xpath(item(),'string(codelist-item/name/narrative)')"},"Compose_Description":{"runAfter":{"Compose_Name":["Succeeded"]},"type":"Compose","inputs":"@xpath(item(),'string(codelist-item/description/narrative)')"},"Compose_URL":{"runAfter":{"Compose_Description":["Succeeded"]},"type":"Compose","inputs":"@xpath(item(),'string(codelist-item/url)')"},"Compose_Active":{"runAfter":{"Compose_URL":["Succeeded"]},"type":"Compose","inputs":"@if(equals(toLower(xpath(item(),'string(codelist-item/@status)')), 'withdrawn'), false, true)"},"List_records_Get_Vocabulary_Record":{"runAfter":{"Compose_Active":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"msiati_nonembeddedcodelistvocabularies","$filter":"msiati_code eq '@{outputs('Compose_Code')}' and msiati_codelisttype eq @{items('Apply_to_each')?['CodelistTypeID']}","$top":1},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Condition":{"actions":{"Update_a_record":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"msiati_nonembeddedcodelistvocabularies","recordId":"@first(body('List_records_Get_Vocabulary_Record')?['value'])?['msiati_nonembeddedcodelistvocabularyid']","item/msiati_code":"@outputs('Compose_Code')","item/msiati_name":"@outputs('Compose_Name')","item/statecode":"@if(outputs('Compose_Active'), 0, 1)","item/statuscode":"@if(outputs('Compose_Active'), 1, 2)","item/msiati_uri":"@outputs('Compose_URL')"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}}},"runAfter":{"List_records_Get_Vocabulary_Record":["Succeeded"]},"else":{"actions":{"Create_a_new_record":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"CreateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"msiati_nonembeddedcodelistvocabularies","item/msiati_code":"@outputs('Compose_Code')","item/msiati_codelisttype":"@items('Apply_to_each')?['CodelistTypeID']","item/msiati_name":"@outputs('Compose_Name')","item/msiati_description":"@outputs('Compose_Description')","item/msiati_uri":"@outputs('Compose_URL')"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Condition_Vocabulary_Is_Inactive":{"actions":{"Update_a_record_2":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"msiati_nonembeddedcodelistvocabularies","recordId":"@outputs('Create_a_new_record')?['body/msiati_nonembeddedcodelistvocabularyid']","item/statecode":1},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}}},"runAfter":{"Create_a_new_record":["Succeeded"]},"expression":{"equals":["@outputs('Compose_Active')","@false"]},"type":"If"}}},"expression":{"greaterOrEquals":["@length(body('List_records_Get_Vocabulary_Record')?['value'])",1]},"type":"If"}},"runAfter":{"Compose_Parse_Vocabulary_XML":["Succeeded"]},"type":"Foreach"}},"runAfter":{"Parse_Source_JSON":["Succeeded"]},"type":"Foreach"},"Apply_to_each_Codelist":{"foreach":"@body('Parse_Source_JSON')?['Codelist']","actions":{"Condition_Codelist_Has_Vocabulary":{"actions":{"List_records_Get_Codelist_Vocabulary_Record":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"msiati_nonembeddedcodelistvocabularies","$filter":"msiati_code eq '@{items('Apply_to_each_Codelist')?['VocabularyCode']}' and msiati_codelisttype eq @{items('Apply_to_each_Codelist')?['CodelistTypeID']}","$top":1},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Compose_VocabularyId":{"runAfter":{"List_records_Get_Codelist_Vocabulary_Record":["Succeeded"]},"type":"Compose","inputs":"@first(body('List_records_Get_Codelist_Vocabulary_Record')?['value'])?['msiati_nonembeddedcodelistvocabularyid']"}},"runAfter":{},"expression":{"equals":["@items('Apply_to_each_Codelist')?['HasVocabulary']","@true"]},"type":"If"},"HTTP":{"runAfter":{"Compose_CodelistId":["Succeeded"]},"type":"Http","inputs":{"method":"GET","uri":"@items('Apply_to_each_Codelist')?['ApiUrl']"}},"Compose_Codelist_XML":{"runAfter":{"HTTP":["Succeeded"]},"type":"Compose","inputs":"@xpath(xml(body('HTTP')), '/codelist/codelist-items/codelist-item')"},"Apply_to_each_Codelist_Record_in_XML":{"foreach":"@outputs('Compose_Codelist_XML')","actions":{"Compose_Codelist_Code":{"runAfter":{},"type":"Compose","inputs":"@xpath(item(),'string(codelist-item/code)')"},"Compose_Codelist_Name":{"runAfter":{"Compose_Codelist_Code":["Succeeded"]},"type":"Compose","inputs":"@if(equals(xpath(item(),'string(codelist-item/name/narrative)'), ''), outputs('Compose_Codelist_Code'), xpath(item(),'string(codelist-item/name/narrative)'))"},"Compose_Codelist_Description":{"runAfter":{"Compose_Codelist_Name":["Succeeded"]},"type":"Compose","inputs":"@xpath(item(),'string(codelist-item/description/narrative)')"},"Compose_Codelist_Category":{"runAfter":{"Compose_Codelist_Description":["Succeeded"]},"type":"Compose","inputs":"@xpath(item(),'string(codelist-item/category)')"},"Compose_Codelist_Is_Active":{"runAfter":{"Compose_Codelist_Category":["Succeeded"]},"type":"Compose","inputs":"@if(equals(toLower(xpath(item(),'string(codelist-item/@status)')), 'withdrawn'), false, true)"},"List_records_Get_Codelist_Record":{"runAfter":{"Compose_Codelist_Is_Active":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"msiati_nonembeddedcodelists","$filter":"msiati_codelisttype eq @{items('Apply_to_each_Codelist')?['CodelistTypeID']} and msiati_code eq '@{outputs('Compose_Codelist_Code')}' and @{if(equals(items('Apply_to_each_Codelist')?['HasVocabulary'], false), '_msiati_nonembeddedcodelistvocabularyid_value eq null', concat('(_msiati_nonembeddedcodelistvocabularyid_value eq null or _msiati_nonembeddedcodelistvocabularyid_value eq ''', outputs('Compose_VocabularyId'), ''')'))}","$top":1},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Condition_Codelist_Record_Exists":{"actions":{"Condition_2":{"actions":{"Update_Existing_Codelist_Record":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"msiati_nonembeddedcodelists","recordId":"@first(body('List_records_Get_Codelist_Record')?['value'])?['msiati_nonembeddedcodelistid']","item/msiati_name":"@outputs('Compose_Codelist_Name')","item/msiati_category":"@outputs('Compose_Codelist_Category')","item/msiati_description":"@outputs('Compose_Codelist_Description')","item/statecode":"@if(outputs('Compose_Codelist_Is_Active'), 0, 1)","item/msiati_nonembeddedcodelistvocabularyid@odata.bind":"@concat('msiati_nonembeddedcodelistvocabularies(',outputs('Compose_VocabularyId'),')')"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}}},"runAfter":{},"else":{"actions":{"Update_a_record_3":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"msiati_nonembeddedcodelists","recordId":"@first(body('List_records_Get_Codelist_Record')?['value'])?['msiati_nonembeddedcodelistid']","item/msiati_name":"@outputs('Compose_Codelist_Name')","item/msiati_category":"@outputs('Compose_Codelist_Category')","item/msiati_description":"@outputs('Compose_Codelist_Description')","item/statecode":"@if(outputs('Compose_Codelist_Is_Active'), 0, 1)"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}}}},"expression":{"equals":["@items('Apply_to_each_Codelist')['HasVocabulary']","@true"]},"type":"If"}},"runAfter":{"List_records_Get_Codelist_Record":["Succeeded"]},"else":{"actions":{"Create_New_Codelist_Record":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"CreateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"msiati_nonembeddedcodelists","item/msiati_code":"@outputs('Compose_Codelist_Code')","item/msiati_codelisttype":"@\r\nitems('Apply_to_each_Codelist')['codelisttypeid']","item/msiati_name":"@outputs('Compose_Codelist_Name')","item/msiati_category":"@outputs('Compose_Codelist_Category')","item/msiati_description":"@outputs('Compose_Codelist_Description')"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Condition_Codelist_Is_Inactive":{"actions":{"Update_Deactivate_Codelist_Record":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"msiati_nonembeddedcodelists","recordId":"@outputs('Create_New_Codelist_Record')?['body/msiati_nonembeddedcodelistid']","item/statecode":1,"item/statuscode":2},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}}},"runAfter":{"Create_New_Codelist_Record":["Succeeded"]},"expression":{"equals":["@outputs('Compose_Codelist_Is_Active')","@false"]},"type":"If"}}},"expression":{"greaterOrEquals":["@length(body('List_records_Get_Codelist_Record')?['value'])",1]},"type":"If"}},"runAfter":{"Compose_Codelist_XML":["Succeeded"]},"type":"Foreach"},"Compose_CodelistId":{"runAfter":{"Condition_Codelist_Has_Vocabulary":["Succeeded"]},"type":"Compose","inputs":"@\r\nitems('Apply_to_each_Codelist')['codelisttypeid']"}},"runAfter":{"Apply_to_each":["Succeeded"]},"type":"Foreach"}},"outputs":{}}},"schemaVersion":"1.0.0.0"}